<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Jun 7, 1788</string>
		<string>Day of the Tiles in Grenoble, first revolt against the king.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Aug 8, 1788</string>
		<string>The royal treasury is declared empty.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Apr 27, 1789</string>
		<string>Riots in Paris by workers. Twenty-five workers were killed in battles with police.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Aug 24, 1789</string>
		<string>The Assembly proclaims freedom of speech.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Sep 16, 1789</string>
		<string>First issue of Jean Paul Marat&apos;s newspaper, L&apos;Ami du peuple, proposingl social  revolution.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 1</string>
		<string>Sep 19, 1789</string>
		<string>Election of a new municipal assembly in Paris, with three hundred members.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Jul 11, 1789</string>
		<string>Louis XVI abruptly dismisses Necker. Parisians respond looting the monastery of the Lazaristes.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Jul 14, 1789</string>
		<string> Storming of the Bastille. A large armed crowd besieges the Bastille.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Jul 16, 1789</string>
		<string>The King reinstates Necker as finance minister. </string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Oct 6, 1789</string>
		<string>After an orderly march, a crowd of women invade the Palace. </string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Dec 24, 1789</string>
		<string>The Assembly decrees that Protestants are eligible to hold public office; Jews are still excluded.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 2</string>
		<string>Feb 13, 1790</string>
		<string>The Assembly forbids the taking of religious vows.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Aug 4, 1789</string>
		<string>The Assembly votes to abolish the privileges and feudal rights of the nobility.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Aug 23, 1789</string>
		<string>The Assembly proclaims freedom of religious opinions.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Aug 27, 1789</string>
		<string>The Assembly adopts the Declaration of the Rights of Man and of the Citizen.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Feb 28, 1790</string>
		<string>The Assembly abolishes the requirement that army officers be members of the nobility.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Mar 29, 1790</string>
		<string>Pope Pius VI condemns the Declaration of the Rights of Man in a secret consistory.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 3</string>
		<string>Jul 12, 1790</string>
		<string>Clergymen are required to take an oath of allegiance to the government.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Oct 10, 1789</string>
		<string>Joseph-Ignace Guillotin, a doctor, proposes a new and more humane form of public execution.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Jan 18, 1790</string>
		<string>Marat publishes a fierce attack on finance minister Necker.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Jan 22, 1790</string>
		<string>Paris municipal police try to arrest Marat, he escapes to London.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Sep 4, 1790</string>
		<string>Necker, the finance minister, is dismissed. </string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Dec 3, 1790</string>
		<string>Louis XVI writes to King Frederick William II of Prussia asking for a military intervention.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 4</string>
		<string>Mar 3, 1791</string>
		<string>The Assembly orders that the silver objects owned by the Church be sold to fund the government.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>May 18, 1790</string>
		<string>Marat returns to Paris and resumes publication of L&apos;Ami du people.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>Jun 19, 1790</string>
		<string>The Assembly abolishes the titles, orders, and other privileges of the hereditary nobility.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>Jul 26, 1790</string>
		<string>Marat publishes a demand for the  execution of five to six hundred aristocrats.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>May 30, 1791</string>
		<string>The Assembly orders the transfers of the ashes of Voltaire to the Panthéon.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>Jun 15, 1791</string>
		<string>The Assembly forbids priests to wear ecclesiastical costumes outside churches.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 5</string>
		<string>Jul 5, 1791</string>
		<string>Emperor Leopold II calls on the royal houses of Europe to come to the aid of Louis XVI.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Oct 21, 1790</string>
		<string>The Assembly decrees that the tricolor will replace the fleur-de-lys as emblem of France.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Feb 19, 1791</string>
		<string>Mesdames, the daughters of Louis XV and aunts of Louis XVI, depart France for exile.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Mar 25, 1791</string>
		<string>Diplomatic relations broken between France and the Vatican.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Apr 4, 1792</string>
		<string>The Assembly granted freedom to slaves in Haiti.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Apr 5, 1792</string>
		<string>The Assembly closes the Sorbonne, a center of conservative theology.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 6</string>
		<string>Apr 28, 1792</string>
		<string>The war begins. The army of Rochambeau invades the Austrian Netherlands.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Sep 14, 1791</string>
		<string> Louis XVI formally accepts the new Constitution.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Sep 27, 1791</string>
		<string>The Assembly declares that all men living in France, regardless of color, are free.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Oct 1, 1791</string>
		<string>Claude Pastoret, a monarchist, is elected President of  National Legislative Assembly</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Jun 8, 1792</string>
		<string>The Assembly orders the raising of an army of twenty thousand volunteers.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Jun 11, 1792</string>
		<string>Louis XVI vetoes the laws on the deportation of priests.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 7</string>
		<string>Jul 30, 1792</string>
		<string>Decree by the Assembly allows working-class citizens  to join the National Guard.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Dec 28, 1791</string>
		<string>The Assembly votes to summon a mass army of volunteers to defend the borders of France,</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Feb 7, 1792</string>
		<string>Austria and Prussia sign a military convention to invade France and defend the monarchy.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Apr 25, 1792</string>
		<string>La Marseillaise composed by Joseph Rouget de Lisle, is sung for the first time in Strasbourg.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Aug 14, 1792</string>
		<string>Lafayette tries unsuccessfully to persuade his army to march on Paris to rescue the royal family.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Aug 21, 1792</string>
		<string>First judgement by the Revolutionary Tribunal and execution by the guillotine of a royalist.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 8</string>
		<string>Sep 10, 1792</string>
		<string>The government requisitions all church objects made of gold or silver.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>May 27, 1792</string>
		<string>The Assembly orders the deportation of priests who have not signed the oath to the government.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>Aug 10, 1792</string>
		<string>Storming of the Tuileries Palace. The King and his family take refuge in the Legislative Assembly.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>Aug 13, 1792</string>
		<string>Royal family imprisoned in the Temple.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>Sep 20, 1792</string>
		<string>Last session of Assembly votes a new law permitting civil marriage and divorce.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>Oct 27, 1792</string>
		<string>The French army under Dumouriez invades the Austrian Netherlands . They occupy Brussels.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 9</string>
		<string>Nov 19, 1792</string>
		<string>The Convention claims the right to intervene in any country to&quot;free the people&quot;.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Aug 18, 1792</string>
		<string>The Assembly abolishes the religious teaching orders and those running hospitals.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Aug 19, 1792</string>
		<string>Lafayette leaves his army and goes into exile.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Sep 19, 1792</string>
		<string>Creation of the Louvre Museum displaying art taken from royal collections.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Jan 24, 1793</string>
		<string>Breaking of diplomatic relations between England and France.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Mar 3, 1793</string>
		<string>Armed royalist uprising against the Convention begins in Brittany.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 10</string>
		<string>Mar 7, 1793</string>
		<string>The Convention declares war against Spain.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>Sep 22, 1792</string>
		<string>The Convention proclaims the abolition of royalty and the First French Republic.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>Dec 3, 1792</string>
		<string>Robespierre, leader of the Jacobins , demands that the King be put to death.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>Dec 10, 1792</string>
		<string>Opening of the trial of Louis XVI before the Convention.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>Apr 6, 1793</string>
		<string>First session of the Revolutionary Tribunal.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>May 26, 1793</string>
		<string>At the Jacobin Club, Robespierre and Marat call for an insurrection against the Convention.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 11</string>
		<string>May 31, 1793</string>
		<string>An armed crowd of sans-culottes storms  the Convention and demands that it disband.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Jan 15, 1793</string>
		<string>The Convention declares Louis XVI guilty of conspiracy by a vote of 707 to zero.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Jan 21, 1793</string>
		<string>Louis XVI is beheaded at 10:22 on Place de la Révolution. </string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Feb 1, 1793</string>
		<string>The Convention declares war against England and the Dutch Republic.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Jul 27, 1793</string>
		<string>Robespierre elected to the Committee of Public Safety.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Aug 2, 1793</string>
		<string>Marie-Antoinette is transferred from the Temple to the Conciergerie.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 12</string>
		<string>Aug 25, 1793</string>
		<string>Soldiers of the Convention capture Marseille.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Apr 24, 1793</string>
		<string>Marat is brought before the Revolutionary Tribunal, and is acquitted of all charges.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Jun 24, 1793</string>
		<string>Ratification of new Constitution by the National Convention.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Jul 13, 1793</string>
		<string>Charlotte Corday assassinates Jean-Paul Marat in his bath.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Oct 28, 1793</string>
		<string>The Convention forbids religious instruction by clerics.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Oct 30, 1793</string>
		<string>The Revolutionary Tribunal sentences the 21 Girondins deputies to death.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 13</string>
		<string>Nov 17, 1793</string>
		<string>On Robespierre&apos;s orders, supporters of Danton are arrested.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Aug 1, 1793</string>
		<string>The Convention adopts the principles of the metric system.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Aug 22, 1793</string>
		<string>Robespierre is elected the president of the Convention.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Sep 17, 1793</string>
		<string>Convention adopts a new Law, permitting  rapid trial of anyone opposing the Revolution. </string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Feb 4, 1794</string>
		<string>The Convention votes to abolish slavery in French colonies.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Mar 15, 1794</string>
		<string>Robespierre tells the Convention that &quot;All the factions must perish from the same blow.&quot;</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 14</string>
		<string>Mar 24, 1794</string>
		<string>Hébert and leaders of the Cordeliers are condemned to death and guillotined.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>Oct 3, 1793</string>
		<string>The Convention orders that Marie-Antoinette be tried by the Revolutionary Tribunal.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>Oct 16, 1793</string>
		<string>The Army of the Convention defeats the Austrian Army at the Battle of Wattignies.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>Nov 10, 1793</string>
		<string>The Cathedral of Notre Dame is re-dedicated as a Temple of Reason.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>Mar 30, 1794</string>
		<string>Danton, Camille Desmoulins and their supporters arrested.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>Apr 1, 1794</string>
		<string>Robespierre creates a new Bureau of Police attached to the Committee of Public Safety.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 15</string>
		<string>May 10, 1794</string>
		<string>Execution of Madame Élisabeth, the sister of Louis XVI.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Nov 23, 1793</string>
		<string>The Paris Commune orders the closing of all churches and places of worship in Paris.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Dec 19, 1793</string>
		<string>Napoléon Bonaparte lead an operation forcing the withdraw of British from Toulon</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Feb 6, 1794</string>
		<string>Napoleon Bonaparte is promoted to general for his role in driving the British from Toulon,</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Jun 26, 1794</string>
		<string>French forces under Jourdan defeat the Austrians at the Battle of Fleurus.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Jul 1, 1794</string>
		<string>Robespierre speaks at the Jacobin Club, denouncing a conspiracy against him.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 16</string>
		<string>Jul 23, 1794</string>
		<string>Robespierre attends a meeting with the Committees of Public Safety and the dispute seems settled.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>Apr 2, 1794</string>
		<string>Trial of Danton: He uses the occasion to ridicule and insult his opponents.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>Apr 5, 1794</string>
		<string>Danton and Desmoulins are convicted and guillotined the same day.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>May 8, 1794</string>
		<string>The chemist Antoine Lavoisier is tried and guillotined.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>Oct 6, 1789</string>
		<string>After an orderly march, a crowd of women invade the Palace. </string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>Dec 24, 1789</string>
		<string>The Assembly decrees that Protestants are eligible to hold public office; Jews are still excluded.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 17</string>
		<string>Feb 13, 1790</string>
		<string>The Assembly forbids the taking of religious vows.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Jun 4, 1794</string>
		<string>Robespierre is unanimously elected president of the Convention.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Jul 27, 1794</string>
		<string>The Convention votes the arrest of Robespierre, of his younger brother Augustin Robespierre.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Jul 28, 1794</string>
		<string>Robespierre is guillotined Place de La Concorde.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Feb 28, 1790</string>
		<string>The Assembly abolishes the requirement that army officers be members of the nobility.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Mar 29, 1790</string>
		<string>Pope Pius VI condemns the Declaration of the Rights of Man in a secret consistory.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 18</string>
		<string>Jul 12, 1790</string>
		<string>Clergymen are required to take an oath of allegiance to the government.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>May 7, 1795</string>
		<string>Execution of Fouquier-Tinville, the public prosecutor during the Terror.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>Oct 31, 1795</string>
		<string>Election of new Directory and end of Convention.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>Nov 9, 1799</string>
		<string>Bonaparte’s coup d’etat removes Directory and establishes himself as First Consul.</string>
		<string>a</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>Jun 26, 1794</string>
		<string>French forces under Jourdan defeat the Austrians at the Battle of Fleurus.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>Feb 13, 1790</string>
		<string>The Assembly forbids the taking of religious vows.</string>
		<string>b</string>
	</array>
	<array>
		<string>French Revolution</string>
		<string>Quiz # 19</string>
		<string>Oct 27, 1792</string>
		<string>The French army under Dumouriez invades the Austrian Netherlands . They occupy Brussels.</string>
		<string>b</string>
	</array>
</array>
</plist>
