<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>World War II</string>
		<string>Quiz # 1</string>
		<string>Mar 15, 1939</string>
		<string> Nazi troops occupy of Bohemia and Moravia; Czechoslovakia ceases to exist.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 1</string>
		<string>Mar 22, 1939</string>
		<string> Germany takes Memel from Lithuania.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 1</string>
		<string>Apr 7, 1939</string>
		<string> Italy invades Albania.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 1</string>
		<string>May 22, 1939</string>
		<string> Germany and Italy sign the Pact of Steel.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 1</string>
		<string>Jul 6, 1939</string>
		<string> The last remaining Jewish enterprises in Germany are closed.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 2</string>
		<string>Aug 23, 1939</string>
		<string> Germany and the Soviet Union sign a non-aggression treaty.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 2</string>
		<string>Sep 1, 1939</string>
		<string> Nazi Germany attacks Poland, beginning the war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 2</string>
		<string>Sep 3, 1939</string>
		<string> France, the United Kingdom, New Zealand, and Australia declare war on Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 2</string>
		<string>Sep 5, 1939</string>
		<string> The United States declares its neutrality in the war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 2</string>
		<string>Sep 6, 1939</string>
		<string> South Africa declares war on Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 3</string>
		<string>Sep 13, 1939</string>
		<string>Canada enters World War II.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 3</string>
		<string>Sep 18, 1939</string>
		<string> Polish governmenti flees to Romania.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 3</string>
		<string>Sep 28, 1939</string>
		<string>Warsaw surrenders to Nazi Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 3</string>
		<string>Jan 12, 1940</string>
		<string> Russia bombs cities in Finland.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 3</string>
		<string>Mar 18, 1940</string>
		<string> Axis Powers - Hitler and Mussolini form an alliance against France and the UK.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 4</string>
		<string>Apr 9, 1940</string>
		<string> Germany invades Denmark and Norway.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 4</string>
		<string>May 10, 1940</string>
		<string> Germany invades Belgium, the Netherlands, and Luxembourg.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 4</string>
		<string>May 13, 1940</string>
		<string>Germany's conquest of France begins as their army crosses the Meuse River.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 4</string>
		<string>May 14, 1940</string>
		<string> The Netherlands surrender to Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 4</string>
		<string>May 15, 1940</string>
		<string>Dutch troops  surrender to Nazi Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 5</string>
		<string>May 17, 1940</string>
		<string> Germany occupies Brussels, Belgium.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 5</string>
		<string>May 20, 1940</string>
		<string> The first prisoners arrive at a new concentration camp at Auschwitz.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 5</string>
		<string>May 25, 1940</string>
		<string> The Battle of Dunkirk begins.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 5</string>
		<string>May 28, 1940</string>
		<string> Belgium surrenders to Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 5</string>
		<string>Jun 3, 1940</string>
		<string> The Battle of Dunkirk ends with a German victory.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 6</string>
		<string>Jun 10, 1940</string>
		<string> Norway Surrenders to German forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 6</string>
		<string>Jun 14, 1940</string>
		<string> Paris falls under German occupation.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 6</string>
		<string>Jun 16, 1940</string>
		<string>Marshal Henri Philippe Pétain becomes Premier of Vichy France.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 6</string>
		<string>Jun 17, 1940</string>
		<string>Allied troops evacuate France, following Germany's takeover of Paris</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 6</string>
		<string>Jun 21, 1940</string>
		<string> France surrenders to Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 7</string>
		<string>Jul 5, 1940</string>
		<string> The United Kingdom and the Vichy France government break off diplomatic relations.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 7</string>
		<string>Jul 10, 1940</string>
		<string> Battle of Britain: The German begin to hit British convoys in the English Channel.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 7</string>
		<string>Aug 23, 1940</string>
		<string> The Germans start bombing London.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 7</string>
		<string>Sep 7, 1940</string>
		<string> The Blitz - Nazi Germany begins to rain bombs on London. </string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 7</string>
		<string>Oct 28, 1940</string>
		<string> Italy invades Greece through Albania.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 8</string>
		<string>Oct 31, 1940</string>
		<string> Battle of Britain ends: The UK prevents Germany from invading Great Britain.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 8</string>
		<string>Nov 16, 1940</string>
		<string> In occupied Poland, German Nazis close off the Warsaw Ghetto from the outside world.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 8</string>
		<string>Nov 20, 1940</string>
		<string> Hungary, Romania and Slovakia join the Axis Powers.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 8</string>
		<string>Dec 29, 1940</string>
		<string> The Luftwaffe firebombs City of London, killing almost 200 civilians.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 8</string>
		<string>Jan 19, 1941</string>
		<string> British troops attack Italian-held Eritrea.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 9</string>
		<string>Jan 21, 1941</string>
		<string> Australian and British forces attack Tobruk, Libya.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 9</string>
		<string>Mar 1, 1941</string>
		<string> Bulgaria signs the Tripartite Pact thus joining the Axis powers.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 9</string>
		<string>Apr 6, 1941</string>
		<string>Germany invades Yugoslavia and Greece.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 9</string>
		<string>Apr 17, 1941</string>
		<string> The Kingdom of Yugoslavia surrenders to Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 9</string>
		<string>Apr 27, 1941</string>
		<string> German troops enter Athens.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 10</string>
		<string>May 9, 1941</string>
		<string>The Royal Navy captures a German Submanrine. On board an Enigma cryptography machine.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 10</string>
		<string>May 10, 1941</string>
		<string>Rudolf Hess parachutes into Scotland  to try and negotiate a peace between with the UK.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 10</string>
		<string>May 20, 1941</string>
		<string> Battle of Crete: German paratroops invade Crete.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 10</string>
		<string>Jun 1, 1941</string>
		<string> Battle of Crete ends as Crete capitulates to Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 10</string>
		<string>Jun 8, 1941</string>
		<string>Allies invade Syria and Lebanon.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 11</string>
		<string>Jun 22, 1941</string>
		<string>Nazi Germany invades the Soviet Union in Operation Barbarossa.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 11</string>
		<string>Jul 7, 1941</string>
		<string> American forces land in Iceland to forestall an invasion by Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 11</string>
		<string>Aug 14, 1941</string>
		<string>Winston Churchill and Franklin D. Roosevelt sign the Atlantic Charter of war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 11</string>
		<string>Aug 22, 1941</string>
		<string> German troops reach Leningrad, leading to the siege of Leningrad</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 11</string>
		<string>Sep 6, 1941</string>
		<string> In Germany all Jews have to wear the Star of David with the word Jew inscribed.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 12</string>
		<string>Sep 8, 1941</string>
		<string> Siege of Leningrad begins.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 12</string>
		<string>Sep 11, 1941</string>
		<string> US Navy ordered to attack German U-boats.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 12</string>
		<string>Oct 2, 1941</string>
		<string> In Operation Typhoon, Germany begins an all-out offensive against Moscow.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 12</string>
		<string>Oct 17, 1941</string>
		<string>For the first time in World War II, a German submarine attacks an American ship.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 12</string>
		<string>Oct 30, 1941</string>
		<string> Franklin Delano Roosevelt approves US$1 billion in Lend-Lease aid to the Soviet Union.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 13</string>
		<string>Dec 7, 1941</string>
		<string> Attack On Pearl Harbor - The Imperial Japanese Navy attacks the U.S. Pacific Fleet</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 13</string>
		<string>Dec 8, 1941</string>
		<string> Pacific War - The U.S. Congress passes a declaration of war against Japan.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 13</string>
		<string>Dec 9, 1941</string>
		<string> The Republic of China, the Republic of Korea and Cuba declare war on Germany and Japan.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 13</string>
		<string>Dec 10, 1941</string>
		<string> Imperial Japanese forces land on the Philippine mainland.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 13</string>
		<string>Dec 11, 1941</string>
		<string> Germany and Italy declare war on the United States.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 14</string>
		<string>Dec 13, 1941</string>
		<string> Hungary and Romania declare war on the United States.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 14</string>
		<string>Dec 25, 1941</string>
		<string>Japan start occupation of Hong Kong.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 14</string>
		<string>Jan 2, 1942</string>
		<string> Manila is captured by Japanese forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 14</string>
		<string>Jan 20, 1942</string>
		<string> Nazis decide the "final solution to the Jewish problem".</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 14</string>
		<string>Jan 26, 1942</string>
		<string>First US force in Europe during World War II goes ashore in Northern Ireland.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 15</string>
		<string>Feb 15, 1942</string>
		<string>Singapore falls to Japan: 80,000 Indian, UK and Australian become prisoners of war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 15</string>
		<string>Feb 19, 1942</string>
		<string>Roosevelt signs an order  to relocate Japanese-Americans to internment camps.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 15</string>
		<string>Feb 27, 1942</string>
		<string> the USS Langley, the first United States aircraft carrier, is sunk by Japanese warplanes.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 15</string>
		<string>Mar 8, 1942</string>
		<string> The Dutch surrender to Japanese forces on Java.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 15</string>
		<string>Mar 23, 1942</string>
		<string> In the Indian Ocean, Japanese forces capture the Andaman Islands.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 16</string>
		<string>Mar 26, 1942</string>
		<string> In Poland, Auschwitz receives its first female prisoners.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 16</string>
		<string>Mar 31, 1942</string>
		<string>Japanese forces invade Christmas Island, then a British possession.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 16</string>
		<string>Apr 8, 1942</string>
		<string> Siege of Leningrad - Soviet Union forces open a much-needed railway link to Leningrad.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 16</string>
		<string>May 6, 1942</string>
		<string> On Corregidor, the last American forces in the Philippines surrender to the Japanese.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 16</string>
		<string>May 9, 1942</string>
		<string> Belgrade becomes the first Axis-conquered city to eliminate its Jewish Population.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 17</string>
		<string>May 22, 1942</string>
		<string>Mexico enters World War II on the side of the Allies.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 17</string>
		<string>May 30, 1942</string>
		<string>1000 British bombers launch a 90-minute attack on Cologne, Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 17</string>
		<string>May 31, 1942</string>
		<string> The Luftwaffe bombs Coventry, England.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 17</string>
		<string>Jun 10, 1942</string>
		<string> Nazis burn the Czech village of Lidice as reprisal for the killing of Reinhard Heydrich.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 17</string>
		<string>Jun 17, 1942</string>
		<string>First World War II American expeditionary force lands in Africa (Gold Coast).</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 18</string>
		<string>Jul 13, 1942</string>
		<string> German U-Boats sink three more merchant ships in Gulf of St. Lawrence.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 18</string>
		<string>Jul 18, 1942</string>
		<string> The Germans test fly the Messerschmitt Me-262 using only its jets for the first time.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 18</string>
		<string>Jul 22, 1942</string>
		<string> The systematic deportation of Jews from the Warsaw Ghetto begins.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 18</string>
		<string>Aug 19, 1942</string>
		<string>The 2nd Canadian Infantry Division leads an allied forces assault on Dieppe, France.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 18</string>
		<string>Aug 22, 1942</string>
		<string> Brazil declares war on the Axis powers (Germany, Italy and Japan)</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 19</string>
		<string>Aug 23, 1942</string>
		<string> Beginning of the Battle of Stalingrad</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 19</string>
		<string>Sep 3, 1942</string>
		<string> Uprising of the Jewish ghetto in Lakhva occurs.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 19</string>
		<string>Oct 23, 1942</string>
		<string>At El Alamein in Egypt, British forces begin a major offensive against Axis forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 19</string>
		<string>Nov 8, 1942</string>
		<string>United States and United Kingdom forces land in French North Africa.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 19</string>
		<string>Dec 4, 1942</string>
		<string>US bombers strike Italian mainland for first time in World War II.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 20</string>
		<string>Jan 15, 1943</string>
		<string> Japanese driven off Guadalcanal.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 20</string>
		<string>Jan 23, 1943</string>
		<string> British forces capture Tripoli in Libya from the Nazis.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 20</string>
		<string>Feb 2, 1943</string>
		<string> The last German forces surrender to the Soviets after the Battle of Stalingrad.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 20</string>
		<string>Feb 14, 1943</string>
		<string>Rommel and his Afrika Korps launch an offensive against Allied defenses in Tunisia.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 20</string>
		<string>Mar 22, 1943</string>
		<string> the entire population of Khatyn in Belarus is burnt alive by German occupation forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 21</string>
		<string>May 13, 1943</string>
		<string> German Afrika Korps and Italian troops in North Africa surrender to Allied forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 21</string>
		<string>May 24, 1943</string>
		<string> Josef Mengele becomes chief medical officer in Auschwitz concentration camp.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 21</string>
		<string>Jul 5, 1943</string>
		<string> Battle of Kursk - The largest tank battle in history begins.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 21</string>
		<string>Jul 9, 1943</string>
		<string> Operation Husky - Allied forces perform an amphibious invasion of Sicily.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 21</string>
		<string>Jul 20, 1943</string>
		<string> American and Canadian troops conquer Enna on Sicily.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 22</string>
		<string>Jul 24, 1943</string>
		<string>British and Canadian aeroplanes bomb Hamburg by night, those of the Americans by day. </string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 22</string>
		<string>Jul 25, 1943</string>
		<string> Benito Mussolini is forced out of office by his own Italian Grand Council.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 22</string>
		<string>Jul 28, 1943</string>
		<string> The British bomb Hamburg causing a firestorm that kills 42,000 German civilians.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 22</string>
		<string>Sep 3, 1943</string>
		<string> Mainland Italy is invaded by Allied forces for the first time in the war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 22</string>
		<string>Sep 10, 1943</string>
		<string>German forces began their occupation of Rome.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 23</string>
		<string>Sep 11, 1943</string>
		<string> German troops occupy Corsica and Kosovo-Metohija</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 23</string>
		<string>Sep 18, 1943</string>
		<string> The Jews of Minsk are massacred.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 23</string>
		<string>Oct 1, 1943</string>
		<string> Naples falls to Allied soldiers.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 23</string>
		<string>Oct 13, 1943</string>
		<string> The new government of Italy sides with the Allies and declares war on Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 23</string>
		<string>Jan 20, 1944</string>
		<string> The Royal Air Force drops 2,300 tons of bombs on Berlin.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 24</string>
		<string>Jan 27, 1944</string>
		<string> The two-year Siege of Leningrad is lifted.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 24</string>
		<string>Feb 14, 1944</string>
		<string> Anti-Japanese revolt on Java.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 24</string>
		<string>Mar 19, 1944</string>
		<string> Nazi forces occupy Hungary.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 24</string>
		<string>Jun 5, 1944</string>
		<string> Rome liberated by the Allies</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 24</string>
		<string>Jun 6, 1944</string>
		<string> Battle of Normandy begins: 155,000 Allied troops on the beaches of Normandy in France.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 25</string>
		<string>Jun 13, 1944</string>
		<string> Germany launches a V1 Flying Bomb attack on England.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 25</string>
		<string>Jul 3, 1944</string>
		<string> Minsk is liberated from Nazi control by Soviet troops.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 25</string>
		<string>Jul 9, 1944</string>
		<string> Battle of Normandy - British and Canadian forces capture Caen, France.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 25</string>
		<string>Jul 18, 1944</string>
		<string>Hideki Tojo resigns as Prime Minister of Japan due to numerous setbacks in the war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 25</string>
		<string>Aug 5, 1944</string>
		<string>Polish insurgents liberate a German labor camp in Warsaw, freeing 348 Jewish prisoners.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 26</string>
		<string>Aug 10, 1944</string>
		<string> American forces defeat the last Japanese troops on Guam.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 26</string>
		<string>Aug 15, 1944</string>
		<string> Operation Dragoon - Allied forces land in southern France.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 26</string>
		<string>Aug 19, 1944</string>
		<string>Paris rises against German occupation with the help of Allied troops.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 26</string>
		<string>Aug 22, 1944</string>
		<string> Romania captured by the Soviet Union</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 26</string>
		<string>Aug 23, 1944</string>
		<string>Marseille is liberated.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 27</string>
		<string>Aug 25, 1944</string>
		<string> Paris is liberated by the Allies.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 27</string>
		<string>Aug 26, 1944</string>
		<string> Charles de Gaulle enters Paris.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 27</string>
		<string>Sep 4, 1944</string>
		<string> The British 11th Armoured Division liberate the Belgian city of Antwerp.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 27</string>
		<string>Sep 8, 1944</string>
		<string> London is hit by a V2 rocket for the first time.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 27</string>
		<string>Sep 9, 1944</string>
		<string> Bulgaria is occupied by Soviet Union.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 28</string>
		<string>Sep 11, 1944</string>
		<string>First allied troops of the US Army cross the western border of Nazi Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 28</string>
		<string>Sep 22, 1944</string>
		<string>World War II, Red Army entered Tallinn.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 28</string>
		<string>Oct 2, 1944</string>
		<string> Nazi troops end the Warsaw Uprising.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 28</string>
		<string>Oct 10, 1944</string>
		<string> 800 Gypsy children are systematically murdered at Auschwitz death camp.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 28</string>
		<string>Nov 24, 1944</string>
		<string> Bombing of Tokyo  by 88 American aircraft.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 29</string>
		<string>Dec 31, 1944</string>
		<string> Hungary declares war on Germany.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 29</string>
		<string>Jan 12, 1945</string>
		<string> The Soviets begin a large offensive in Eastern Europe against the Nazis.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 29</string>
		<string>Jan 27, 1945</string>
		<string> The Red Army arrives at Auschwitz and Birkenau  and find the Nazi concentration camp</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 29</string>
		<string>Feb 3, 1945</string>
		<string> Soviet Union agrees to enter the Pacific Theatre conflict against Japan.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 29</string>
		<string>Feb 13, 1945</string>
		<string> Soviet Union forces capture Budapest, Hungary from the Nazis.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 30</string>
		<string>Feb 23, 1945</string>
		<string> The capital of the Philippines, Manila, is liberated by American forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 30</string>
		<string>Mar 3, 1945</string>
		<string> Previously neutral Finland declares war on the Axis powers.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 30</string>
		<string>Mar 9, 1945</string>
		<string>American B-29 bombers attack Tokyo  killing over 100,000 people.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 30</string>
		<string>Mar 18, 1945</string>
		<string> 1,250 American bombers attack Berlin.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 30</string>
		<string>Mar 27, 1945</string>
		<string> Operation Starvation, the aerial mining of Japan's ports and waterways begins.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 31</string>
		<string>Mar 30, 1945</string>
		<string> Soviet Union forces invade Austria and take Vienna.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 31</string>
		<string>Apr 1, 1945</string>
		<string> United States troops land on Okinawa in the last campaign of the war.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 31</string>
		<string>Apr 4, 1945</string>
		<string> Soviet Army liberates Hungary.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 31</string>
		<string>Apr 22, 1945</string>
		<string>Adolf Hitler admits defeat and states that suicide is his only recourse.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 31</string>
		<string>Apr 29, 1945</string>
		<string> The German Army in Italy unconditionally surrenders to the Allies.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 32</string>
		<string>May 2, 1945</string>
		<string> Fall of Berlin: The Soviet Union announces the capture of Berlin</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 32</string>
		<string>May 5, 1945</string>
		<string> German troops in the Netherlands and Denmark capitulate to Canadian and British forces.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 32</string>
		<string>May 8, 1945</string>
		<string>German forces agree to an unconditional surrender.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 32</string>
		<string>May 9, 1945</string>
		<string> Red Army enters Prague (capitulation of Nazi occupation troops).</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 32</string>
		<string>May 23, 1945</string>
		<string> Heinrich Himmler, the head of the SS, commits suicide while in Allied custody.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 33</string>
		<string>Jul 5, 1945</string>
		<string> Liberation of the Philippines declared.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 33</string>
		<string>Aug 6, 1945</string>
		<string>An atomic bomb  is dropped by the American B-29  on the city of Hiroshima</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 33</string>
		<string>Aug 8, 1945</string>
		<string>World War II - The Soviet Union declares war on Japan and invades Manchuria.</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 33</string>
		<string>Aug 9, 1945</string>
		<string> An atomic bomb, codenamed Fat Man, is dropped on the city of Nagasaki, Japan</string>
		<string></string>
	</array>
	<array>
		<string>World War II</string>
		<string>Quiz # 33</string>
		<string>Aug 14, 1945</string>
		<string>Japan accepts the Allied terms of surrender.</string>
		<string></string>
	</array>
</array>
</plist>
