<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>abrir</string>
	<string>acabar</string>
	<string>aceptar</string>
	<string>alcanzar</string>
	<string>aparecer</string>
	<string>ayudar</string>
	<string>buscar</string>
	<string>caer</string>
	<string>comenzar</string>
	<string>comprender</string>
	<string>conocer</string>
	<string>conseguir</string>
	<string>contar</string>
	<string>convertir</string>
	<string>correr</string>
	<string>crear</string>
	<string>creer</string>
	<string>cumplir</string>
	<string>dar</string>
	<string>deber</string>
	<string>decir</string>
	<string>dejar</string>
	<string>descubrir</string>
	<string>dirigir</string>
	<string>empezar</string>
	<string>encontrar</string>
	<string>entender</string>
	<string>entrar</string>
	<string>escribir</string>
	<string>escuchar</string>
	<string>esperar</string>
	<string>estar</string>
	<string>estudiar</string>
	<string>explicar</string>
	<string>formar</string>
	<string>ganar</string>
	<string>gustar</string>
	<string>hablar</string>
	<string>hacer</string>
	<string>ir</string>
	<string>jugar</string>
	<string>leer</string>
	<string>levantar</string>
	<string>llamar</string>
	<string>llegar</string>
	<string>llevar</string>
	<string>lograr</string>
	<string>mantener</string>
	<string>mirar</string>
	<string>morir</string>
	<string>nacer</string>
	<string>necesitar</string>
	<string>ofrecer</string>
	<string>oír</string>
	<string>pagar</string>
	<string>parecer</string>
	<string>pasar</string>
	<string>pedir</string>
	<string>pensar</string>
	<string>perder</string>
	<string>permitir</string>
	<string>poder</string>
	<string>poner</string>
	<string>preguntar</string>
	<string>presentar</string>
	<string>producir</string>
	<string>quedar</string>
	<string>querer</string>
	<string>realizar</string>
	<string>recibir</string>
	<string>reconocer</string>
	<string>recordar</string>
	<string>resultar</string>
	<string>saber</string>
	<string>sacar</string>
	<string>salir</string>
	<string>seguir</string>
	<string>sentir</string>
	<string>ser</string>
	<string>servir</string>
	<string>suponer</string>
	<string>tener</string>
	<string>terminar</string>
	<string>tocar</string>
	<string>tomar</string>
	<string>trabajar</string>
	<string>traer</string>
	<string>tratar</string>
	<string>utilizar</string>
	<string>venir</string>
	<string>ver</string>
	<string>vivir</string>
	<string>volver</string>
	<string>olvidar</string>
	<string>caber</string>
	<string>llenar</string>
	<string>dibujar</string>
	<string>bailar</string>
	<string>romper</string>
	<string>cancelar</string>
	<string>limpiar</string>
	<string>haber</string>
	<string>abandonar</string>
	<string>abrazar</string>
	<string>aburrir</string>
	<string>acordar</string>
	<string>acostar</string>
	<string>ahorrar</string>
	<string>almorzar</string>
	<string>amar</string>
	<string>andar</string>
	<string>apagar</string>
	<string>aprender</string>
	<string>asistir</string>
	<string>atraer</string>
	<string>bajar</string>
	<string>barrer</string>
	<string>bendecir</string>
	<string>besar</string>
	<string>calentar</string>
	<string>callar</string>
	<string>caminar</string>
	<string>cansar</string>
	<string>casar</string>
	<string>cenar</string>
	<string>cerrar</string>
	<string>cocinar</string>
	<string>coger</string>
	<string>colgar</string>
	<string>comer</string>
	<string>compartir</string>
	<string>comprar</string>
	<string>conducir</string>
	<string>construir</string>
	<string>contestar</string>
	<string>continuar</string>
	<string>contribuir</string>
	<string>corregir</string>
	<string>cortar</string>
	<string>costar</string>
	<string>crecer</string>
	<string>cruzar</string>
	<string>cubrir</string>
	<string>cuidar</string>
	<string>decidir</string>
	<string>defender</string>
	<string>desayunar</string>
	<string>descansar</string>
	<string>desear</string>
	<string>despedir</string>
	<string>despertar</string>
	<string>destruir</string>
	<string>devolver</string>
	<string>disfrutar</string>
	<string>doler</string>
	<string>dormir</string>
	<string>duchar</string>
	<string>echar</string>
	<string>elegir</string>
	<string>encantar</string>
	<string>encender</string>
	<string>entregar</string>
	<string>enviar</string>
	<string>escoger</string>
	<string>exigir</string>
	<string>fijar</string>
	<string>firmar</string>
	<string>gastar</string>
	<string>graduar</string>
	<string>helar</string>
	<string>heredar</string>
	<string>herir</string>
	<string>hervir</string>
	<string>huir</string>
	<string>incluir</string>
	<string>influir</string>
	<string>intentar</string>
	<string>interesar</string>
	<string>invertir</string>
	<string>invitar</string>
	<string>juntar</string>
	<string>lavar</string>
	<string>llorar</string>
	<string>mandar</string>
	<string>manejar</string>
	<string>medir</string>
	<string>mentir</string>
	<string>mezclar</string>
	<string>montar</string>
	<string>mostrar</string>
	<string>mover</string>
	<string>nadar</string>
	<string>navegar</string>
	<string>negar</string>
	<string>nevar</string>
	<string>obedecer</string>
	<string>obtener</string>
	<string>oler</string>
	<string>organizar</string>
	<string>parar</string>
	<string>participar</string>
	<string>patinar</string>
	<string>peinar</string>
	<string>practicar</string>
	<string>preferir</string>
	<string>preparar</string>
	<string>probar</string>
	<string>proteger</string>
	<string>reciclar</string>
	<string>recoger</string>
	<string>recomendar</string>
	<string>regar</string>
	<string>regresar</string>
	<string>repetir</string>
	<string>resolver</string>
	<string>responder</string>
	<string>rogar</string>
	<string>sacudir</string>
	<string>secar</string>
	<string>sentar</string>
	<string>sonar</string>
	<string>temer</string>
	<string>torcer</string>
	<string>usar</string>
	<string>valer</string>
	<string>vencer</string>
	<string>vender</string>
	<string>vestir</string>
	<string>viajar</string>
	<string>visitar</string>
	<string>volar</string>
</array>
</plist>
