<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>aspettare</string>
	<string>sapere</string>
	<string>passare</string>
	<string>tenere</string>
	<string>scrivere</string>
	<string>capire</string>
	<string>scegliere</string>
	<string>entrare</string>
	<string>viaggiare</string>
	<string>trarre</string>
	<string>vincere</string>
	<string>potere</string>
	<string>seguire</string>
	<string>volere</string>
	<string>cadere</string>
	<string>svegliare</string>
	<string>abitare</string>
	<string>sedere</string>
	<string>pensare</string>
	<string>chiamare</string>
	<string>avere</string>
	<string>leggere</string>
	<string>vestire</string>
	<string>morire</string>
	<string>uscire</string>
	<string>offrire</string>
	<string>mettere</string>
	<string>andare</string>
	<string>dormire</string>
	<string>pulire</string>
	<string>scendere</string>
	<string>cantare</string>
	<string>riuscire</string>
	<string>spegnere</string>
	<string>sentire</string>
	<string>arrivare</string>
	<string>essere</string>
	<string>succedere</string>
	<string>prendere</string>
	<string>lavorare</string>
	<string>pagare</string>
	<string>comprare</string>
	<string>parlare</string>
	<string>vendere</string>
	<string>preferire</string>
	<string>bere</string>
	<string>tornare</string>
	<string>ascoltare</string>
	<string>vivere</string>
	<string>alzare</string>
	<string>studiare</string>
	<string>restare</string>
	<string>chiedere</string>
	<string>nascere</string>
	<string>giocare</string>
	<string>finire</string>
	<string>credere</string>
	<string>ricordare</string>
	<string>amare</string>
	<string>dare</string>
	<string>aiutare</string>
	<string>divertire</string>
	<string>lasciare</string>
	<string>venire</string>
	<string>vedere</string>
	<string>cercare</string>
	<string>correre</string>
	<string>dimenticare</string>
	<string>ridere</string>
	<string>cambiare</string>
	<string>lavare</string>
	<string>piacere</string>
	<string>chiudere</string>
	<string>fare</string>
	<string>stare</string>
	<string>mangiare</string>
	<string>rispondere</string>
	<string>portare</string>
	<string>visitare</string>
	<string>dire</string>
	<string>cuocere</string>
	<string>diventare</string>
	<string>partire</string>
	<string>mancare</string>
	<string>incontrare</string>
	<string>perdere</string>
	<string>decidere</string>
	<string>rimanere</string>
	<string>salire</string>
	<string>ritornare</string>
	<string>tradurre</string>
	<string>conoscere</string>
	<string>aprire</string>
	<string>preparare</string>
	<string>cominciare</string>
	<string>trovare</string>
	<string>dovere</string>
	<string>imparare</string>
	<string>telefonare</string>
	<string>ricevere</string>
	<string>guardare</string>
	<string>sembrare</string>
	<string>spiegare</string>
	<string>continuare</string>
	<string>rendere</string>
	<string>bastare</string>
	<string>usare</string>
	<string>bisognare</string>
	<string>ottenere</string>
	<string>fermare</string>
	<string>sperare</string>
</array>
</plist>
