<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>avoir</string>
	<string>être</string>
	<string>chanter</string>
	<string>finir</string>
	<string>faire</string>
	<string>aller</string>
	<string>dire</string>
	<string>venir</string>
	<string>prendre</string>
	<string>voir</string>
	<string>savoir</string>
	<string>pouvoir</string>
	<string>vouloir</string>
	<string>devoir</string>
	<string>falloir</string>
	<string>partir</string>
	<string>croire</string>
	<string>lire</string>
	<string>écrire</string>
	<string>courir</string>
	<string>sentir</string>
	<string>connaître</string>
	<string>rendre</string>
	<string>tenir</string>
	<string>recevoir</string>
	<string>vivre</string>
	<string>jeter</string>
	<string>jouer</string>
	<string>plier</string>
	<string>appeler</string>
	<string>lancer</string>
	<string>manger</string>
	<string>payer</string>
	<string>mettre</string>
	<string>rougir</string>
	<string>dormir</string>
	<string>perdre</string>
	<string>craindre</string>
	<string>boire</string>
	<string>rire</string>
	<string>conduire</string>
	<string>vendre</string>
	<string>ouvrir</string>
	<string>offrir</string>
	<string>mourir</string>
	<string>peindre</string>
	<string>fuir</string>
	<string>coudre</string>
	<string>couvrir</string>
	<string>pleuvoir</string>
	<string>grandir</string>
	<string>valoir</string>
	<string>abandonner</string>
	<string>entendre</string>
	<string>répondre</string>
	<string>paraître</string>
	<string>attendre</string>
	<string>comprendre</string>
	<string>devenir</string>
	<string>retenir</string>
	<string>suivre</string>
	<string>servir</string>
	<string>sourire</string>
	<string>apercevoir</string>
	<string>reconnaître</string>
	<string>descendre</string>
	<string>permettre</string>
	<string>apprendre</string>
	<string>souffrir</string>
	<string>trouver</string>
	<string>donner</string>
	<string>parler</string>
	<string>aimer</string>
	<string>passer</string>
	<string>demander</string>
	<string>sembler</string>
	<string>laisser</string>
	<string>rester</string>
	<string>penser</string>
	<string>regarder</string>
	<string>arriver</string>
	<string>chercher</string>
	<string>porter</string>
	<string>entrer</string>
	<string>tomber</string>
	<string>commencer </string>
	<string>montrer</string>
	<string>arrêter</string>
	<string>monter</string>
	<string>lever</string>
	<string>écouter</string>
	<string>continuer</string>
	<string>ajouter</string>
	<string>marcher</string>
	<string>garder</string>
	<string>manquer</string>
	<string>retrouver</string>
	<string>rappeler</string>
	<string>quitter</string>
	<string>tourner</string>
	<string>crier</string>
	<string>songer</string>
	<string>présenter</string>
	<string>exister</string>
	<string>envoyer</string>
	<string>expliquer</string>
	<string>agir</string>
</array>
</plist>
