<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Sep 9, 1739</string>
		<string>Stono Rebellion, the largest slave uprising in Britains mainland North American colonies prior to the American Revolution, erupts near Charleston, South Carolina.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string></string>
		<string>Apr 5, 1764</string>
		<string>Great Britain passes the Sugar Act doubling the duties on foreign goods reshipped from England to the colonies</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string></string>
		<string>Sep 1, 1764</string>
		<string>The Currency Act prohibiting the colonists from issuing any legal tender paper money
The Currency Act prohibiting the colonists from issuing any legal tender paper moneyThe Currency Act prohibiting the colonists from issuing any legal tender paper money
</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string></string>
		<string>Mar 22, 1765</string>
		<string>Great Britain passes the Stamp Act, granting and applying certain stamp duties, and other duties, in the British colonies.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Mar 24, 1765</string>
		<string>Great Britain passes the Quartering Act that requires the 13 American colonies to house British troops.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string></string>
		<string>May 30, 1765</string>
		<string> The Virginia Stamp Act: claiming that only the Virginia assembly can legally tax Virginia residents
</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Mar 18, 1766</string>
		<string>The British Parliament repeals the Stamp Act, which was very unpopular in the British colonies.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Mar 5, 1770</string>
		<string>Boston Massacre: Five Americans are killed by British troops.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Nov 2, 1772</string>
		<string>Samuel Adams and Joseph Warren form the first Committee of Correspondence.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string></string>
		<string>May 10, 1773</string>
		<string>The Tea Act:  Unsold tea from east India Company was to be sold in the colonies.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 1</string>
		<string>Dec 16, 1773</string>
		<string>Boston Tea Party: Members of the Sons of Liberty dump tea into Boston harbor as a protest against the Tea Act.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>Mar 31, 1774</string>
		<string>The Kingdom of Great Britain orders the port of Boston, Massachusetts closed in the Boston Port Act.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>May 28, 1774</string>
		<string>The first Continental Congress convenes.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>Feb 9, 1775</string>
		<string>British Parliament declares Massachusetts in rebellion.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>Mar 23, 1775</string>
		<string>Patrick Henry delivers his famous speech -&quot;give me liberty or give me death&quot; at St. John&apos;s Church in Richmond, Virginia.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>Apr 19, 1775</string>
		<string>British troops and local militia of Massachusetts fire the first shots of the American Revolution at Lexington.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 2</string>
		<string>Apr 20, 1775</string>
		<string>the siege of Boston begins, which followed the first battles at Lexington and Concord.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>May 10, 1775</string>
		<string>Ethan Allen and Benedict Arnold lead the capture Fort Ticonderoga.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>May 17, 1775</string>
		<string>The Continental Congress bans trade with Canada.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>Jun 12, 1775</string>
		<string>British general Thomas Gage declares martial law in Massachusetts. </string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>Jun 14, 1775</string>
		<string>The United States Army is established by the Continental Congress.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>Jun 15, 1775</string>
		<string>George Washington is appointed commander-in-chief of the Continental Army.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 3</string>
		<string>Jun 17, 1775</string>
		<string>Battle of Bunker Hill: British forces take Breed&apos;s Hill outside of Boston with heavy casualties.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Jul 3, 1775</string>
		<string>George Washington takes command of the Continental Army at Cambridge, Massachusetts.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Sep 25, 1775</string>
		<string>War hero Ethan Allen captured.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Nov 10, 1775</string>
		<string>The Continental Congress passes a resolution creating the Continental Marines.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Nov 13, 1775</string>
		<string>American Revolutionary forces capture Montreal.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Dec 31, 1775</string>
		<string>Battle of Quebec British forces repulse an attack by Continental Army generals Richard Montgomery and Benedict Arnold.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 4</string>
		<string>Mar 17, 1776</string>
		<string>British forces evacuate Boston, Massachusetts after George Washington and Henry Knox place artillery overlooking the city.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>May 15, 1776</string>
		<string>Virginia convention instructs its delegates to propose a declaration of independence from Great Britain.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>Jun 8, 1776</string>
		<string>Battle of Trois-Rivières - American invaders are driven back at Trois-Rivière, Quebec.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>Jul 4, 1776</string>
		<string>The Continental Congress approves a Declaration of Independence from the Kingdom of Great Britain.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>Sep 10, 1776</string>
		<string>Nathan Hale volunteers to spy.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>Sep 11, 1776</string>
		<string>British-American peace conference on Staten Island fails to stop nascent American Revolution.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 5</string>
		<string>Sep 15, 1776</string>
		<string>British land at Kip&apos;s Bay during the New York Campaign.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Sep 16, 1776</string>
		<string>the Battle of Harlem Heights is fought.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Sep 22, 1776</string>
		<string>Nathan Hale is hanged for spying during American Revolution.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Oct 11, 1776</string>
		<string> Battle of Valcour Island - On Lake Champlain 15 American gunboats are defeated but give Patriot forces enough time to prepare defenses of New York City.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Oct 28, 1776</string>
		<string>Battle of White Plains - British Army forces arrive at White Plains, attack and capture Chatterton Hill from the Americans.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Nov 16, 1776</string>
		<string>Hessian mercenaries capture Fort Washington from the Patriots.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 6</string>
		<string>Dec 26, 1776</string>
		<string>The British are defeated in the Battle of Trenton.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Jan 15, 1777</string>
		<string>New Connecticut (present day Vermont) declares its independence.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Jun 13, 1777</string>
		<string>Marquis de Lafayette lands near Charleston, South Carolina, in order to help the Continental Congress to train its army.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Jul 6, 1777</string>
		<string>Battle of Ticonderoga: Due to a bombardment by British artillery under General John Burgoyne, American forces retreat from Fort Ticonderoga, New York.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Jul 7, 1777</string>
		<string>Battle of Hubbardton</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Aug 16, 1777</string>
		<string>Battle of Bennington - British forces are defeated by American troops.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 7</string>
		<string>Sep 3, 1777</string>
		<string>Cooch&apos;s Bridge - Skirmish of American Revolutionary war in New Castle County, Delaware where the Flag of the United States was flown in battle for the first time.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Sep 11, 1777</string>
		<string>Battle of Brandywine - Major American Revolutionary war victory for British in Chester County, Pennsylvania.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Sep 26, 1777</string>
		<string>British troops occupy Philadelphia during the American Revolution.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Oct 7, 1777</string>
		<string>Americans beat the British in the Battle of Second Saratoga and the Battle of Bemis Heights.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Nov 15, 1777</string>
		<string>After 16 months of debate the Continental Congress approves the Articles of Confederation.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Dec 19, 1777</string>
		<string>George Washington&apos;s Continental Army goes into winter quarters at Valley Forge, Pennsylvania.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 8</string>
		<string>Feb 6, 1778</string>
		<string>In Paris the Treaty of Alliance and the Treaty of Amity and Commerce are signed by the United States and France signaling official recognition of the new republic.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Feb 23, 1778</string>
		<string>Baron von Steuben arrives at Valley Forge, Pennsylvania to help to train the Continental Army.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Jun 18, 1778</string>
		<string>British troops abandon Philadelphia, Pennsylvania.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Jun 28, 1778</string>
		<string>Battle of Monmouth fought between the American Continental Army under George Washington and the British Army led by Sir Henry Clinton.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Jul 3, 1778</string>
		<string>British forces massacre 360 men, women &amp; children in the Wyoming Valley massacre.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Jul 10, 1778</string>
		<string>Louis XVI of France declares war on the Kingdom of Great Britain.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 9</string>
		<string>Jul 27, 1778</string>
		<string>First Battle of Ushant - British and French fleets fight to a standoff.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>Jun 1, 1779</string>
		<string>Benedict Arnold is court-martialed for malfeasance in his treatment of government property.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>Jul 16, 1779</string>
		<string>United States forces led by General Anthony Wayne capture Stony Point, New York from British troops.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>Sep 23, 1779</string>
		<string>USS Bonhomme Richard, commanded by John Paul Jones, wins a fight against the British ships of war Serapis and Countess of Scarborough off the coast of England.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>Sep 28, 1779</string>
		<string>Samuel Huntington is elected President of the Continental Congress, succeeding John Jay.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>Jan 16, 1780</string>
		<string>Battle of Cape St. Vincent.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 10</string>
		<string>May 12, 1780</string>
		<string>Charleston, South Carolina is taken by British forces.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Aug 16, 1780</string>
		<string>Battle of Camden - The British defeat the Americans near Camden, South Carolina.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Sep 21, 1780</string>
		<string>Benedict Arnold gives the British the plans to West Point.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Sep 23, 1780</string>
		<string>British Major John Andre arrested as a spy by American soldiers exposing Benedict Arnold&apos;s treason.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Oct 7, 1780</string>
		<string>Battle of Kings Mountain American Patriot militia defeat Loyalist irregulars led by British colonel Patrick Ferguson in South Carolina.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Oct 16, 1780</string>
		<string>Royalton, Vermont and Tunbridge, Vermont last major raid of the American Revolutionary War</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 11</string>
		<string>Jan 5, 1781</string>
		<string>Richmond, Virginia is burned by British naval forces led by Benedict Arnold.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Mar 15, 1781</string>
		<string>Battle of Guilford Courthouse - Near present-day Greensboro, North Carolina, 1,900 British troops under General Charles Cornwallis defeat an American force numbering 4,400.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Sep 28, 1781</string>
		<string>American forces backed by a French fleet begin the siege of Yorktown, Virginia.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Oct 17, 1781</string>
		<string>General Charles Cornwallis offers his surrender to the American revolutionaries at Yorktown, Virginia.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Oct 19, 1781</string>
		<string>At Yorktown, Virginia, British General Lord Cornwallis surrenders 8,000 British soldiers and seamen to a larger Franco-American force, effectively bringing an end to the American Revolution.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Dec 12, 1781</string>
		<string>Second Battle of Ushant - A Royal Navy squadron, commanded by Rear Admiral Richard Kempenfelt in HMS Victory, defeats a French fleet.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 12</string>
		<string>Aug 19, 1782</string>
		<string>Battle of Blue Licks: the last major battle of the American Revolutionary War, almost ten months after the surrender of the British commander Lord Cornwallis following the Siege of Yorktown.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Nov 30, 1782</string>
		<string>In Paris, representatives from the United States and the Kingdom of Great Britain sign preliminary peace articles (later formalized in the 1783 Treaty of Paris).</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Feb 3, 1783</string>
		<string>Spain recognizes United States independence.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Feb 4, 1783</string>
		<string>The United Kingdom formally declares that it will cease hostilities with the United States of America.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Sep 3, 1783</string>
		<string>The war ends with the signing of the Treaty of Paris by the United States and the Kingdom of Great Britain.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Nov 25, 1783</string>
		<string>The last British troops leave New York City three months after the signing of the Treaty of Paris.</string>
		<string></string>
	</array>
	<array>
		<string>American Revolution</string>
		<string>Quiz # 13</string>
		<string>Jan 14, 1784</string>
		<string>The United States ratifies a peace treaty with England.</string>
		<string></string>
	</array>
</array>
</plist>
