<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Mar 30, 1855</string>
		<string>&quot;Border Ruffians&quot; from Missouri invade Kansas and force election of a pro-slavery legislature.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Dec 20, 1960</string>
		<string>South Carolina is the first state to secede from the United States</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Jan 3, 1861</string>
		<string>Delaware votes not to secede from the United States.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Jan 9, 1861</string>
		<string>Mississippi becomes the second state to secede from the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Jan 10, 1861</string>
		<string>Florida secedes from the United States.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Jan 18, 1861</string>
		<string>Georgia joins South Carolina, Florida, Mississippi, and Alabama in secession.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 1</string>
		<string>Jan 21, 1861</string>
		<string>Jefferson Davis resigns from the United States Senate.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Feb 1, 1861</string>
		<string>Texas secedes from the United States.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Feb 4, 1861</string>
		<string>In Montgomery, Alabama the Confederate States of America is formed.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Feb 9, 1861</string>
		<string>Jefferson Davis is elected the Provisional President of the Confederate States.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Feb 11, 1861</string>
		<string>United States House passes a resolution guaranteeing noninterference with slavery.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Mar 11, 1861</string>
		<string>The Constitution of the Confederate States of America is adopted.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 2</string>
		<string>Apr 12, 1861</string>
		<string>Confederate forces fire on Fort Sumter, in the harbor of Charleston, South Carolina.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 3</string>
		<string>Apr 13, 1861</string>
		<string>Fort Sumter surrenders to rebel forces.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 3</string>
		<string>Apr 17, 1861</string>
		<string>Virginia secedes from the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 3</string>
		<string>Apr 20, 1861</string>
		<string>Robert E. Lee resigns his commission in the United States Army.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 3</string>
		<string>Apr 29, 1861</string>
		<string>Maryland&apos;s House of Delegates votes not to secede from the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 3</string>
		<string>May 6, 1861</string>
		<string>Arkansas secedes from the Union.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 4</string>
		<string>May 8, 1861</string>
		<string>Richmond, Virginia, is named the capital of the Confederate States of America.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 4</string>
		<string>May 13, 1861</string>
		<string>Queen Victoria of Britain issues a &quot;proclamation of neutrality&quot;.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 4</string>
		<string>May 20, 1861</string>
		<string>The state of Kentucky proclaims its neutrality.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 4</string>
		<string>Jun 8, 1861</string>
		<string>Tennessee secedes from the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 5</string>
		<string>Jul 21, 1861</string>
		<string> At Manassas Junction, Virginia, the first major battle of the war begins.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 5</string>
		<string>Jul 25, 1861</string>
		<string>Congress states that the war is being fought to preserve the Union and not to end slavery.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 5</string>
		<string>Aug 5, 1861</string>
		<string>The United States government issues the first income tax.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 6</string>
		<string>Nov 6, 1861</string>
		<string>Jefferson Davis is elected president of the Confederate States of America.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 7</string>
		<string>Jan 19, 1862</string>
		<string>The Confederacy suffers its first significant defeat: Battle of Mill Springs.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 8</string>
		<string>Feb 6, 1862</string>
		<string>Ulysses S. Grant gives the US its first victory of the war, by capturing Fort Henry</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 8</string>
		<string>Feb 16, 1862</string>
		<string>General Ulysses S. Grant captures Fort Donelson, Tennessee.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 8</string>
		<string>Mar 7, 1862</string>
		<string>Union forces led by General Curtis defeat Confederate troops in Arkansas.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 8</string>
		<string>Mar 8, 1862</string>
		<string>The iron-clad CSS Virginia is launched at Hampton Roads, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 8</string>
		<string>Mar 9, 1862</string>
		<string>The first battle between two ironclad warships.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 9</string>
		<string>Mar 13, 1862</string>
		<string>The U.S. forbids all Union army officers from returning fugitive slaves.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 9</string>
		<string>Mar 28, 1862</string>
		<string>In New Mexico, Union forces succeed in stopping the Confederate invasion.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 9</string>
		<string>Apr 7, 1862</string>
		<string>Union Army defeat the Confederates near Shiloh, Tennessee.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 10</string>
		<string>Apr 29, 1862</string>
		<string>New Orleans falls to Union forces under Admiral David Farragut.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 10</string>
		<string>May 31, 1862</string>
		<string>The Battle of Seven Pines.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 11</string>
		<string>Jun 4, 1862</string>
		<string>Confederate troops evacuate Fort Pillow on the Mississippi River.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 11</string>
		<string>Jun 6, 1862</string>
		<string>Battle of Memphis - Union forces capture Memphis, Tennessee, from the Confederates.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 11</string>
		<string>Jul 1, 1862</string>
		<string>The Battle of Malvern Hill takes place.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 12</string>
		<string>Jul 16, 1862</string>
		<string>David G. Farragut becomes the first United States Navy rear admiral.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 12</string>
		<string>Jul 23, 1862</string>
		<string>Henry W. Halleck takes command of the Union Army.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 12</string>
		<string>Aug 6, 1862</string>
		<string>The Confederate ironclad CSS Arkansas is scuttled on the Mississippi River.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 13</string>
		<string>Sep 2, 1862</string>
		<string>President Lincoln restores Union General McClellan to full command.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 13</string>
		<string>Sep 5, 1862</string>
		<string>General Robert E. Lee leads 55,000 men across the Potomac River.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 13</string>
		<string>Sep 15, 1862</string>
		<string>Confederate forces capture Harpers Ferry, Virginia.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 14</string>
		<string>Sep 17, 1862</string>
		<string>George McClellan halts the northward drive of Robert E. Lee&apos;s.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 14</string>
		<string>Nov 5, 1862</string>
		<string>Abraham Lincoln removes George McClellan as commander of the Union Army.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 14</string>
		<string>Nov 14, 1862</string>
		<string>President Lincoln approves plan to capture Richmond, Virginia, leading to the Battle of Fredericksburg.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 15</string>
		<string>Dec 13, 1862</string>
		<string>At the Battle of Fredericksburg, Confederates defeat the Union troops.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 15</string>
		<string>Jan 1, 1863</string>
		<string>The Emancipation Proclamation takes effect in Confederate territory.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 16</string>
		<string>Jan 11, 1863</string>
		<string>General McClernand and Admiral Dixon Porter capture the Arkansas River for the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 16</string>
		<string>Jan 26, 1863</string>
		<string>Massachusetts Governor receives permission to raise a militia for men of African descent.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 16</string>
		<string>Apr 22, 1863</string>
		<string>Troops under Union Colonel Benjamin Grierson attack central Mississippi.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 17</string>
		<string>May 4, 1863</string>
		<string>Battle of Chancellorsville . The battle ends with a Union retreat.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 17</string>
		<string>May 6, 1863</string>
		<string>The Battle of Chancellorsville ends, with a defeat of the Army of the Potomac.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 18</string>
		<string>May 21, 1863</string>
		<string>Union forces begin to lay siege to the Confederate-controlled Port Hudson, Louisiana.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 18</string>
		<string>May 28, 1863</string>
		<string>The first African American regiment, leaves Boston, to fight for the Union.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 18</string>
		<string>Jun 14, 1863</string>
		<string>A Union garrison is defeated by the Army of Northern Virginia in the Shenandoah Valley town of Winchester, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 18</string>
		<string>Jul 1, 1863</string>
		<string>the Battle of Gettysburg begins.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 18</string>
		<string>Jul 3, 1863</string>
		<string>The Union wins the battle of Gettysburg.</string>
		<string></string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 19</string>
		<string>Jul 4, 1863</string>
		<string>Vicksburg, Mississippi surrenders to Ulysses S. Grant after 47 days of siege.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 19</string>
		<string>Jul 9, 1863</string>
		<string>Siege of Port Hudson ends.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 19</string>
		<string>Jul 18, 1863</string>
		<string>The first formal African American military  unsuccessfully assaults Confederate-held Fort Wagner.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 19</string>
		<string>Jul 26, 1863</string>
		<string>At Salineville, Ohio, Confederate cavalry leader John Hunt Morgan is captured by Union forces.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 19</string>
		<string>Aug 8, 1863</string>
		<string>General Robert E. Lee sends a letter of resignation to Confederate President Jefferson Davis (which is refused upon receipt).</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 20</string>
		<string>Aug 17, 1863</string>
		<string>In Charleston, South Carolina, Union batteries and ships bombard Confederate-held Fort Sumter.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 20</string>
		<string>Sep 6, 1863</string>
		<string>Confederates evacuate Battery Wagner and Morris Island in South Carolina.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 20</string>
		<string>Sep 9, 1863</string>
		<string>The Union Army enters Chattanooga, Tennessee.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 21</string>
		<string>Oct 14, 1863</string>
		<string>Battle of Bristol Station - Confederate General Robert E. Lee forces fail to drive the Union Army out of Virginia.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 21</string>
		<string>Oct 15, 1863</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 21</string>
		<string>Oct 29, 1863</string>
		<string>Battle of Wauhatchie - Forces under Union General Ulysses S. Grant ward-off a Confederate attack </string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 21</string>
		<string>Nov 16, 1863</string>
		<string>Battle of Campbell&apos;s Station near Knoxville, Tennessee. Confederate troops unsuccessfully attack Union forces.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 21</string>
		<string>Nov 17, 1863</string>
		<string>Siege of Knoxville begins - Confederate forces led by General James Longstreet place Knoxville, Tennessee under siege.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 22</string>
		<string>Nov 23, 1863</string>
		<string>Battle of Chattanooga begins - Union forces led by General Ulysses S. Grant reinforce troops at Chattanooga, Tennessee and counter-attack Confederate troops.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 22</string>
		<string>Nov 24, 1863</string>
		<string>Battle of Lookout Mountain - Near Chattanooga, Tennessee, Union forces under General Ulysses S. Grant capture Lookout Mountain and begin to break the Confederate siege of the city led by General Braxton Bragg.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 22</string>
		<string>Nov 25, 1863</string>
		<string>Battle of Missionary Ridge - At Missionary Ridge in Tennessee, Union forces led by General Ulysses S. Grant break the Siege of Chattanooga by routing Confederate troops under General Braxton Bragg.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 22</string>
		<string>Nov 27, 1863</string>
		<string>Confederate cavalry leader John Hunt Morgan and several of his men escape the Ohio state prison and return safely to the South.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 22</string>
		<string>Feb 17, 1864</string>
		<string>CSS H. L. Hunley is the first submarine to engage and sink a warship, the USS Housatonic.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 23</string>
		<string>Feb 27, 1864</string>
		<string>The first Northern prisoners arrive at the Confederate prison at Andersonville, Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 23</string>
		<string>Feb 29, 1864</string>
		<string>Kilpatrick-Dahlgren raid fails - Plans to free 15,000 Union soldiers being held near Richmond, Virginia are thwarted.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 23</string>
		<string>Apr 12, 1864</string>
		<string>Fort Pillow massacre -- Confederate forces under General Nathan Bedford Forrest kill most of the African American soldiers who had surrendered at Fort Pillow, Tennessee.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 23</string>
		<string>Apr 17, 1864</string>
		<string>Battle of Plymouth begins . Confederate forces attack Plymouth, North Carolina.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 24</string>
		<string>May 5, 1864</string>
		<string>The Battle of the Wilderness begins in Spotsylvania County, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 24</string>
		<string>May 7, 1864</string>
		<string>The Army of the Potomac, under General Ulysses S. Grant, breaks off from the Battle of the Wilderness and moves southwards.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 24</string>
		<string>May 10, 1864</string>
		<string>Colonel Emory Upton leads a 10-regiment &quot;Attack-in-depth&quot; assault against the Confederate works at The Battle of Spotsylvania, which, though ultimately unsuccessful, would provide the idea for the massive assault against the Bloody Angle on May 12. Upton was wounded slightly but immediately is promoted to Brigadier general.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 24</string>
		<string>May 12, 1864</string>
		<string>Battle of Spotsylvania Court House: Thousands of Union and Confederate soldiers die in &quot;the Bloody Angle&quot;.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 25</string>
		<string>May 15, 1864</string>
		<string>Battle of New Market, Virginia ? Students from the Virginia Military Institute fight alongside the Confederate Army to force Union General Franz Sigel out of the Shenandoah Valley.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 25</string>
		<string>May 20, 1864</string>
		<string>Battle of Ware Bottom Church - In the Virginia Bermuda Hundred Campaign, 10,000 troops fight in this Confederate victory.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 25</string>
		<string>Jun 3, 1864</string>
		<string>Battle of Cold Harbor - Union forces attack Confederate troops at Cold Harbor, Virginia.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 26</string>
		<string>Jun 5, 1864</string>
		<string>Battle of Piedmont: Union forces under General David Hunter defeat a Confederate army at Piedmont, Virginia, taking nearly 1,000 prisoners.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 26</string>
		<string>Jun 10, 1864</string>
		<string>Brice&apos;s Crossroads: Confederate troops under Nathan Bedford Forrest defeat a much larger Union force led by General Samuel D. Sturgis in Mississippi.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 26</string>
		<string>Jun 12, 1864</string>
		<string>Battle of Cold Harbor ? General Ulysses S. Grant pulls his troops from their positions at Cold Harbor, Virginia and moves south.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 26</string>
		<string>Jun 15, 1864</string>
		<string>Siege of Petersburg begins.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 27</string>
		<string>Jul 24, 1864</string>
		<string>Battle of Kernstown - Confederate General Jubal Early defeats Union troops led by General George Crook in an effort to keep Yankees out of the Shenandoah Valley.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 27</string>
		<string>Jul 28, 1864</string>
		<string>Battle of Ezra Church begins - Confederate troops make a third unsuccessful attempt to drive Union forces from Atlanta, Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 27</string>
		<string>Jul 29, 1864</string>
		<string>Confederate spy Belle Boyd is arrested by Union troops and detained at the Old Capitol Prison in Washington, DC.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 27</string>
		<string>Jul 30, 1864</string>
		<string>Battle of the Crater - Union forces attempt to break Confederate lines by exploding a large bomb under their trenches.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 27</string>
		<string>Aug 5, 1864</string>
		<string>Battle of Mobile Bay begins - At Mobile Bay near Mobile, Alabama, Admiral David Farragut leads a Union flotilla through Confederate defenses and seals one of the last major Southern ports.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 28</string>
		<string>Aug 18, 1864</string>
		<string>Battle of Globe Tavern - Union forces try to cut a vital Confederate supply-line into Petersburg, Virginia, by attacking the Weldon Railroad.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 28</string>
		<string>Aug 31, 1864</string>
		<string>Union forces led by General William T. Sherman launch an assault on Atlanta, Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 28</string>
		<string>Sep 1, 1864</string>
		<string>Confederate General John Bell Hood evacuates Atlanta, Georgia after a four-month siege by General Sherman.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 28</string>
		<string>Sep 2, 1864</string>
		<string>Union forces enter Atlanta, Georgia a day after the Confederate defenders flee the city.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 29</string>
		<string>Sep 29, 1864</string>
		<string>The Battle of Chaffin&apos;s Farm is fought.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 29</string>
		<string>Oct 7, 1864</string>
		<string>Battle of Darbytown Road (American Civil War): the Confederate forces&apos; attempt to regain ground that had been lost around Richmond is thwarted.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 29</string>
		<string>Oct 9, 1864</string>
		<string>Battle of Tom&apos;s Brook - Union cavalrymen in the Shenandoah Valley defeat Confederate forces at Tom&apos;s Brook, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 29</string>
		<string>Oct 23, 1864</string>
		<string>Battle of Westport - Union forces under General Samuel R. Curtis defeat Confederate troops led by General Sterling Price at Westport, near Kansas City.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 30</string>
		<string>Nov 4, 1864</string>
		<string>Battle of Johnsonville - Confederate troops bombard a Union supply base and destroy millions of dollars in material.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 30</string>
		<string>Nov 15, 1864</string>
		<string>Union General William Tecumseh Sherman burns Atlanta, Georgia and starts Sherman&apos;s March to the Sea.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 30</string>
		<string>Nov 22, 1864</string>
		<string>Sherman&apos;s March to the Sea: Confederate General John Bell Hood invades Tennessee in an unsuccessful attempt to draw Union General William T. Sherman from Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 30</string>
		<string>Nov 30, 1864</string>
		<string>Battle of Franklin ? The Army of Tennessee led by General John Bell Hood mounts a dramatically unsuccessful frontal assault on Union positions around Franklin, Tennessee (Hood lost six generals and almost a third of his troops).</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 30</string>
		<string>Dec 4, 1864</string>
		<string>Sherman&apos;s March to the Sea - At Waynesboro, Georgia, forces under Union General Judson Kilpatrick prevent troops led by Confederate General Joseph Wheeler from interfering with Union General William T. Sherman&apos;s campaign destroying a wide swath of the South on his march to the Atlantic Ocean from Atlanta (Union forces did suffer more than three times the Confederate casualties, however).</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Dec 10, 1864</string>
		<string>Sherman&apos;s March to the Sea - Major General William T. Sherman&apos;s Union Army troops reach Savannah, Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Dec 16, 1864</string>
		<string>Franklin-Nashville Campaign - Battle of Nashville - Major General George H. Thomas&apos;s Union forces defeat Lieutenant General John Bell Hood&apos;s Confederate Army of Tennessee.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Jan 31, 1865</string>
		<string>Confederate General Robert E. Lee becomes general-in-chief.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Feb 17, 1865</string>
		<string>Columbia, South Carolina burns as Confederate forces flee from advancing Union forces.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Mar 13, 1865</string>
		<string>The Confederate States of America reluctantly agrees to the use of African American troops.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 31</string>
		<string>Mar 18, 1865</string>
		<string>The Congress of the Confederate States of America adjourns for the last time.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 32</string>
		<string>Mar 19, 1865</string>
		<string>The Battle of Bentonville begins. By the end of the battle two days later the Confederate forces have retreated from Greenville, North Carolina.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 32</string>
		<string>Mar 25, 1865</string>
		<string>In Virginia, Confederate forces capture Fort Stedman from the Union in a bloody battle.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 32</string>
		<string>Apr 1, 1865</string>
		<string>Battle of Five Forks - In Petersburg, Virginia, Confederate General Robert E. Lee begins his final offensive.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 32</string>
		<string>Apr 2, 1865</string>
		<string>Confederate President Jefferson Davis and most of his Cabinet flee the Confederate capital of Richmond, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 32</string>
		<string>Apr 3, 1865</string>
		<string>Union forces capture Richmond, Virginia, the capital of the Confederate States of America.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 4, 1865</string>
		<string>A day after Union forces capture Richmond, Virginia, U.S. President Abraham Lincoln visits the Confederate capital.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 6, 1865</string>
		<string>Battle of Sayler&apos;s Creek - Confederate General Robert E. Lee&apos;s Army of Northern Virginia fights its last major battle while in retreat from Richmond, Virginia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 9, 1865</string>
		<string>At Appomattox, Virginia, Confederate General Robert E. Lee surrenders his 28,000 troops to Union General Ulysses S. Grant, effectively ending the American Civil War.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 10, 1865</string>
		<string>A day after his surrender to Union forces, Confederate General Robert E. Lee addresses his troops for the last time.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 12, 1865</string>
		<string>Mobile, Alabama, falls to the Union Army.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string></string>
		<string>Apr 14, 1865</string>
		<string>Abraham Lincoln is shot by John Wilkes Booth.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 33</string>
		<string>Apr 26, 1865</string>
		<string>Confederate General Joseph Johnston surrenders his army to General William Tecumseh Sherman at the Bennett Place near Durham, North Carolina.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>May 10, 1865</string>
		<string>Jefferson Davis is captured by Union troops near Irwinville, Georgia.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>May 13, 1865</string>
		<string>Battle of Palmito Ranch ? In far south Texas, more than a month after Confederate General Lee&apos;s surrender, the last land battle of the Civil War ends with a Confederate victory.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>May 26, 1865</string>
		<string>Confederate General Edmund Kirby Smith, commander of the Confederate Trans-Mississippi division, is the last general of the Confederate Army to surrender, at Galveston, Texas.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>Jun 23, 1865</string>
		<string>At Fort Towson in Oklahoma Territory Confederate General Stand Watie surrenders the last significant rebel army.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>Jul 7, 1865</string>
		<string>Four conspirators in the assassination of President Abraham Lincoln were hanged.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 34</string>
		<string>Nov 10, 1865</string>
		<string>Major Henry Wirz, the superintendent of a prison camp in Andersonville, Georgia, is hanged, becoming the only American Civil War soldier executed for war crimes.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>Jul 24, 1866</string>
		<string>Reconstruction: Tennessee becomes the first U.S. state to be readmitted to the Union following the American Civil War.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>Aug 20, 1866</string>
		<string>President Andrew Johnson officially declares the American Civil War to be ended.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>Jan 26, 1870</string>
		<string>Virginia rejoins the Union.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>May 23, 1900</string>
		<string>Sergeant William Harvey Carney becomes the first African American to be awarded the Medal of Honor, for his heroism in the Assault on the Battery Wagner.</string>
		<string>a</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>Feb 3, 1998</string>
		<string>Karla Faye Tucker, age 38, is executed in Texas, becoming the first to be executed in Texas since the American Civil War.</string>
		<string>b</string>
	</array>
	<array>
		<string>American Civil War</string>
		<string>Quiz # 35</string>
		<string>Apr 9, 1998</string>
		<string>The National Prisoner of War Museum is located in Andersonville, Georgia, on the site of an old American Civil War POW camp.</string>
		<string>b</string>
	</array>
</array>
</plist>
