<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string> 3200 BC</string>
		<string> Sumerian cuneiform writing system.</string>
	</array>
	<array>
		<string>3100 BC</string>
		<string> First dynasty of Egypt</string>
	</array>
	<array>
		<string>3000 BC</string>
		<string> First known use of papyrus by Egyptians</string>
	</array>
	<array>
		<string>2800 BC</string>
		<string> Three Sovereigns and Five Emperors period in China</string>
	</array>
	<array>
		<string>2700 BC</string>
		<string> The Old Kingdom begins in Egypt</string>
	</array>
	<array>
		<string>2600 BC</string>
		<string> Emergence of Maya culture in the Yucatán Peninsula</string>
	</array>
	<array>
		<string>2560 BC</string>
		<string> King Khufu completes the Great Pyramid of Giza.</string>
	</array>
	<array>
		<string>2200 BC</string>
		<string> completion of Stonehenge.</string>
	</array>
	<array>
		<string>2070 BC</string>
		<string> Yu the Great established the Xia Dynasty in China</string>
	</array>
	<array>
		<string>2000 BC</string>
		<string> Believed birth year of Abraham in Ur.</string>
	</array>
	<array>
		<string>1800 BC</string>
		<string> alphabetic writing emerges</string>
	</array>
	<array>
		<string>1600 BC</string>
		<string> Minoan civilization on Crete is destroyed by the Minoan eruption of Santorini island.</string>
	</array>
	<array>
		<string>1600 BC</string>
		<string> Beginning of Hittite dominance of the Eastern Mediterranean region</string>
	</array>
	<array>
		<string>1400 BC</string>
		<string> Rise of the Olmec civilization Pre-Columbian Mexico.</string>
	</array>
	<array>
		<string>c. 1180 BC</string>
		<string> Disintegration of Hittite Empire</string>
	</array>
	<array>
		<string>1100 BC</string>
		<string> Use of Iron spreads.</string>
	</array>
	<array>
		<string>1046 BC</string>
		<string>Zhou Dynasty established in China</string>
	</array>
	<array>
		<string>890 BC</string>
		<string> Approximate date for the composition of the Iliad and the Odyssey</string>
	</array>
	<array>
		<string>800 BC</string>
		<string> Rise of Greek city-states</string>
	</array>
	<array>
		<string>753 BC</string>
		<string> Founding of Rome (traditional date)</string>
	</array>
	<array>
		<string>745 BC</string>
		<string> Tiglath-Pileser III becomes the new king of Assyria. With time he conquers neighboring countries and turns Assyria into an empire.</string>
	</array>
	<array>
		<string>722 BC</string>
		<string> Spring and Autumn period begins in China; Zhou Dynasty&apos;s power is diminishing; the era of the Hundred Schools of Thought.</string>
	</array>
	<array>
		<string>660 BC</string>
		<string> purported date of the accession of Jimmu, the mythical first Emperor of Japan.</string>
	</array>
	<array>
		<string>653 BC</string>
		<string> Rise of Persian Empire.</string>
	</array>
	<array>
		<string>612 BC</string>
		<string> An alliance between the Babylonians, Medes, and Scythians succeeds in destroying Nineveh and causing subsequent fall of the Assyrian empire.</string>
	</array>
	<array>
		<string>600 BC</string>
		<string> Evidence of writing system appear in Oaxaca used by the Zapotec civilization.</string>
	</array>
	<array>
		<string>563 BC</string>
		<string> Siddhartha Gautama (Buddha), founder of Buddhism is born as a prince of the Shakya tribe, which ruled parts of Magadha, one of the Maha Janapadas.</string>
	</array>
	<array>
		<string>551 BC</string>
		<string> Confucius, founder of Confucianism, is born.</string>
	</array>
	<array>
		<string>550 BC</string>
		<string> Foundation of the Persian Empire by Cyrus the Great.</string>
	</array>
	<array>
		<string>549 BC</string>
		<string> Mahavira, founder of Jainism is born.</string>
	</array>
	<array>
		<string>546 BC</string>
		<string> Cyrus the Great overthrows Croesus King of Lydia.</string>
	</array>
	<array>
		<string>544 BC</string>
		<string> Rise of Magadha as the dominant power under Bimbisara.</string>
	</array>
	<array>
		<string>539 BC</string>
		<string> The Fall of the Babylonian Empire and liberation of the Jews by Cyrus the Great.</string>
	</array>
	<array>
		<string>529 BC</string>
		<string> Death of Cyrus</string>
	</array>
	<array>
		<string>525 BC</string>
		<string> Cambyses II of Persia conquers Egypt.</string>
	</array>
	<array>
		<string>512 BC</string>
		<string> Darius I (Darius the Great) of Persia, subjugates eastern Thrace, Macedonia submits voluntarily, and annexes Libya, Persian Empire at largest extent.</string>
	</array>
	<array>
		<string>509 BC</string>
		<string> Expulsion of the last King of Rome, founding of Roman Republic (traditional date).</string>
	</array>
	<array>
		<string>508 BC</string>
		<string> Democracy instituted at Athens</string>
	</array>
	<array>
		<string>500 BC</string>
		<string> Pingala uses zero and binary numeral system</string>
	</array>
	<array>
		<string>499 BC</string>
		<string> King Aristagoras of Miletus incites all of Hellenic Asia Minor to rebel against the Persian Empire, beginning the Greco-Persian Wars.</string>
	</array>
	<array>
		<string>490 BC</string>
		<string> Greek city-states defeat Persian invasion at Battle of Marathon</string>
	</array>
	<array>
		<string>483 BC</string>
		<string> Death of Gautama Buddha</string>
	</array>
	<array>
		<string>480 BC</string>
		<string> Persian invasion of Greece by Xerxes; Battles of Thermopylae and Salamis</string>
	</array>
	<array>
		<string>479 BC</string>
		<string> Death of Confucius</string>
	</array>
	<array>
		<string>475 BC</string>
		<string> Warring States period begins in China as the Zhou king became a mere figurehead; China is annexed by regional warlords</string>
	</array>
	<array>
		<string>470 BC</string>
		<string> Birth of Socrates</string>
	</array>
	<array>
		<string>458 BC</string>
		<string> The Oresteia by Aeschylus, the only surviving trilogy of ancient Greek plays, is performed.</string>
	</array>
	<array>
		<string>449 BC</string>
		<string> The Greco-Persian Wars end.</string>
	</array>
	<array>
		<string>447 BC</string>
		<string> Building of the Parthenon at Athens started</string>
	</array>
	<array>
		<string>432 BC</string>
		<string> Construction of the Parthenon is completed</string>
	</array>
	<array>
		<string>431 BC</string>
		<string> Beginning of the Peloponnesian war between the Greek city-states</string>
	</array>
	<array>
		<string>429 BC</string>
		<string> Sophocles&apos;s play Oedipus Rex is first performed</string>
	</array>
	<array>
		<string>427 BC</string>
		<string> Birth of Plato</string>
	</array>
	<array>
		<string>404 BC</string>
		<string> End of the Peloponnesian War</string>
	</array>
	<array>
		<string>399 BC</string>
		<string> Death of Socrates</string>
	</array>
	<array>
		<string>384 BC</string>
		<string> Birth of Aristotle</string>
	</array>
	<array>
		<string>331 BC</string>
		<string> Alexander the Great defeats Darius III of Persia in the Battle of Gaugamela, completing his conquest of Persia.</string>
	</array>
	<array>
		<string>326 BC</string>
		<string> Alexander the Great defeats Indian king Porus in the Battle of the Hydaspes River.</string>
	</array>
	<array>
		<string>323 BC</string>
		<string> Death of Alexander the Great at Babylon.</string>
	</array>
	<array>
		<string>300 BC</string>
		<string> Construction of the Great Pyramid of Cholula, the world&apos;s largest pyramid by volume begins in Cholula, Puebla, Mexico.</string>
	</array>
	<array>
		<string>250 BC</string>
		<string> Rise of Parthia (Ashkâniân), the second native dynasty of ancient Persia</string>
	</array>
	<array>
		<string>221 BC</string>
		<string> Qin Shi Huang unifies China beginning of Imperial rule in China which lasts until 1912. Construction of the Great Wall by the Qin Dynasty begins.</string>
	</array>
	<array>
		<string>207 BC</string>
		<string> Kingdom of Nan Yueh extends from Canton to North Việt Nam .</string>
	</array>
	<array>
		<string>206 BC</string>
		<string> Han Dynasty established in China, after the death of Qin Shi Huang; China in this period officially becomes a Confucian state and opens trading connections with the West, i.e. the Silk Road.</string>
	</array>
	<array>
		<string>202 BC</string>
		<string> Scipio Africanus defeats Hannibal at Battle of Zama.</string>
	</array>
	<array>
		<string>200 BC</string>
		<string> Paper is invented in China.</string>
	</array>
	<array>
		<string>185 BC</string>
		<string> Shunga Empire founded.</string>
	</array>
	<array>
		<string>149 BC</string>
		<string> Third Punic War between Rome and Carthage. War ends with the complete destruction of Carthage, allowing Rome to conquer modern day Tunisiaand Libya.</string>
	</array>
	<array>
		<string>146 BC</string>
		<string> Roman conquest of Greece, see Roman Greece</string>
	</array>
	<array>
		<string>121 BC</string>
		<string> Roman armies enter Gaul for the first time.</string>
	</array>
	<array>
		<string>111 BC</string>
		<string> First Chinese domination of Việt Nam in the form of the Nanyue Kingdom.</string>
	</array>
	<array>
		<string>80 BC</string>
		<string> The city of Florence is founded.</string>
	</array>
	<array>
		<string>49 BC</string>
		<string> Roman Civil War between Julius Caesar and Pompey the Great.</string>
	</array>
	<array>
		<string>44 BC</string>
		<string> Julius Caesar murdered by Marcus Brutus and others; End of Roman Republic; beginning of Roman Empire.</string>
	</array>
	<array>
		<string>40 BC</string>
		<string> Roman conquest of Egypt.</string>
	</array>
	<array>
		<string>27 BC</string>
		<string> Formation of Roman Empire</string>
	</array>
	<array>
		<string>18 BC</string>
		<string> Three Kingdoms period begins in Korea. The temple of Jerusalem is reconstructed.</string>
	</array>
	<array>
		<string>4 BC</string>
		<string> Widely accepted date (Ussher) for birth of Jesus Christ.</string>
	</array>
	<array>
		<string>9</string>
		<string> Battle of the Teutoburg Forest, the Imperial Roman Army&apos;s bloodiest defeat.</string>
	</array>
	<array>
		<string>14</string>
		<string> Death of Emperor Augustus (Octavian), ascension of his adopted son Tiberius to the throne.</string>
	</array>
	<array>
		<string>26</string>
		<string> Crucifixion of Jesus Christ, exact date unknown.</string>
	</array>
	<array>
		<string>37</string>
		<string> Death of Emperor Tiberius, ascension of his nephew Caligula to the throne.</string>
	</array>
	<array>
		<string>40</string>
		<string> Rome conquers Morocco.</string>
	</array>
	<array>
		<string>41</string>
		<string> Emperor Caligula is assassinated by the Roman senate. His uncle Claudius succeeds him.</string>
	</array>
	<array>
		<string>43</string>
		<string> Rome enters Britain for the first time.</string>
	</array>
	<array>
		<string>54</string>
		<string> Emperor Claudius dies and is succeeded by his grand nephew Nero.</string>
	</array>
	<array>
		<string>68</string>
		<string> Emperor Nero commits suicide, prompting the Year of the four emperors in Rome.</string>
	</array>
	<array>
		<string>70</string>
		<string> Destruction of Jerusalem by the armies of Titus.</string>
	</array>
	<array>
		<string>76</string>
		<string> First recorded Ancient Olympic Games.</string>
	</array>
	<array>
		<string>79</string>
		<string> Destruction of Pompeii by the volcano Vesuvius.</string>
	</array>
	<array>
		<string>117</string>
		<string> Roman Empire at largest extent under Emperor Trajan after having conquered modern-day Romania, Iraq and Armenia.</string>
	</array>
	<array>
		<string>126</string>
		<string> Hadrian completes the Pantheon in Rome.</string>
	</array>
	<array>
		<string>138</string>
		<string> Hadrian dies of natural causes. His adopted son Antoninus Pius succeeds him.</string>
	</array>
	<array>
		<string>161</string>
		<string> Death of Antoninus Pius. His rule was the only one in which Rome did not fight in a war.</string>
	</array>
	<array>
		<string>220</string>
		<string> Three Kingdoms period begins in China after the fall of Han Dynasty.</string>
	</array>
	<array>
		<string>280</string>
		<string> Emperor Wu established Jin Dynasty providing a temporary unity of China after the devastating Three Kingdoms period.</string>
	</array>
	<array>
		<string>285</string>
		<string> Diocletian begins a large-scale persecution of Christians.</string>
	</array>
	<array>
		<string>292</string>
		<string> The capital of the Roman empire is officially moved from Rome to Mediolanum (modern day Milan).</string>
	</array>
	<array>
		<string>301</string>
		<string> Diocletian&apos;s edict on prices</string>
	</array>
	<array>
		<string>313</string>
		<string> Edict of Milan declared that the Roman Empire would tolerate all forms of religious worship.</string>
	</array>
	<array>
		<string>325</string>
		<string> Constantine I organizes the First Council of Nicaea.</string>
	</array>
	<array>
		<string>330</string>
		<string> Constantinople is officially named and becomes the capital of the eastern Roman Empire.</string>
	</array>
	<array>
		<string>337</string>
		<string> Emperor Constantine I dies, leaving his sons Constantius II, Constans I, and Constantine II as the emperors of the Roman empire.</string>
	</array>
	<array>
		<string>350</string>
		<string> Constantius II is left sole emperor with the death of his two brothers.</string>
	</array>
	<array>
		<string>354</string>
		<string> Birth of Augustine of Hippo</string>
	</array>
	<array>
		<string>361</string>
		<string> Constantius II dies, his cousin Julian succeeds him.</string>
	</array>
	<array>
		<string>378</string>
		<string> Battle of Adrianople, Roman army is defeated by the Germanic tribes.</string>
	</array>
	<array>
		<string>380</string>
		<string> Roman Emperor Theodosius I declares the Arian faith of Christianity heretical.</string>
	</array>
	<array>
		<string>395</string>
		<string> Theodosius I outlaws all religions other than Catholic Christianity.</string>
	</array>
	<array>
		<string>406</string>
		<string> Romans are expelled from Britain.</string>
	</array>
	<array>
		<string>407</string>
		<string> Visigoths and other Germanic tribes cross into Roman-Gaul for the first time.</string>
	</array>
	<array>
		<string>410</string>
		<string> Visigoths sacks Rome for the first time since 390 BC.</string>
	</array>
	<array>
		<string>415</string>
		<string> Germanic tribes enter Spain.</string>
	</array>
	<array>
		<string>429</string>
		<string> Vandals enter North Africa from Spain for the first time</string>
	</array>
	<array>
		<string>455</string>
		<string> Vandals sack Rome, capture Sicily and Sardinia.</string>
	</array>
	<array>
		<string>476</string>
		<string> Romulus Augustus, last Western Roman Emperor is forced to abdicate by Odoacer</string>
	</array>
</array>
</plist>
