<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>13.8 billion years ago</string>
          <string>Big Bang: the beginning of the universe.</string>
    </array>
    <array>
          <string>13.5 billion years ago</string>
          <string>The milky way forms.</string>
    </array>
    <array>
          <string>4.6 billion years ago</string>
          <string>The sun forms.</string>
    </array>
    <array>
          <string>4.54 billion years ago</string>
          <string>The earth forms</string>
    </array>
    <array>
          <string>4.5 billion years ago</string>
          <string>The Moon was formed.</string>
    </array>
    <array>
          <string>4.4 billion years ago</string>
          <string>First appearance of liquid water on Earth.</string>
    </array>
    <array>
          <string>4.28 billion years ago</string>
          <string>Earliest appearance of life on Earth.</string>
    </array>
    <array>
          <string>3.8 billion years ago</string>
          <string>The earliest evidences for life on Earth.</string>
    </array>
    <array>
          <string>3.2 billion years ago</string>
          <string>Diversification and expansion of acritarchs.</string>
    </array>
    <array>
          <string>2.8 billion years ago</string>
          <string>Oldest evidence for microbial life.</string>
    </array>
    <array>
          <string>2.5 billion years ago</string>
          <string>Great Oxygenation Event.</string>
    </array>
    <array>
          <string>1.85 billion years ago</string>
          <string>Cells that contain a nucleus appear.</string>
    </array>
    <array>
          <string>1.2 billion years ago</string>
          <string>Sexual reproduction first appears.</string>
    </array>
    <array>
          <string>800 million years ago</string>
          <string>First multicellular organism may have arisen.</string>
    </array>
    <array>
          <string>750 million years ago</string>
          <string>First protozoa.</string>
    </array>
    <array>
          <string>600 million years ago</string>
          <string>Formation of an ozone layer.</string>
    </array>
    <array>
          <string>560 million years ago</string>
          <string>Earliest fungi</string>
    </array>
    <array>
          <string>550 million years ago</string>
          <string>Porifera (sponges), Anthozoa (corals and sea anemones) appear.</string>
    </array>
    <array>
          <string>535 million years ago</string>
          <string>Major diversification of living things in the oceans.</string>
    </array>
    <array>
          <string>530 million years ago</string>
          <string>The first known footprints on land date to 530 Ma.</string>
    </array>
    <array>
          <string>485 million years ago</string>
          <string>First vertebrates with true bones (jawless fishes)</string>
    </array>
    <array>
          <string>434 million years ago</string>
          <string>The first primitive plants move onto land.</string>
    </array>
    <array>
          <string>420 million years ago</string>
          <string>Earliest ray-finned fishes, trigonotarbid arachnids, and land scorpions[58]</string>
    </array>
    <array>
          <string>410 million years ago</string>
          <string>First signs of teeth in fish.</string>
    </array>
    <array>
          <string>395 million years ago</string>
          <string>The first known tetrapod tracks on land.</string>
    </array>
    <array>
          <string>360 million years ago</string>
          <string>First crabs and ferns. Land flora dominated by seed ferns.</string>
    </array>
    <array>
          <string>350 million years ago</string>
          <string>First large sharks, ratfishes, and hagfish</string>
    </array>
    <array>
          <string>340 million years ago</string>
          <string>Diversification of amphibians</string>
    </array>
    <array>
          <string>305 million years ago</string>
          <string>Earliest reptiles.</string>
    </array>
    <array>
          <string>280 million years ago</string>
          <string>Earliest beetles, seed plants and conifers.</string>
    </array>
    <array>
          <string>251.4 million years ago</string>
          <string>The Permian–Triassic extinction event eliminates over 90-95% of marine species.</string>
    </array>
    <array>
          <string>248 million years ago</string>
          <string>Sturgeon and paddlefish (Acipenseridae) first appear.</string>
    </array>
    <array>
          <string>240 million years ago</string>
          <string>Increase in diversity of gomphodont cynodonts and rhynchosaurs</string>
    </array>
    <array>
          <string>225 million years ago</string>
          <string>Earliest dinosaurs, first mammals.</string>
    </array>
    <array>
          <string>220 million years ago</string>
          <string>First flies and turtles.</string>
    </array>
    <array>
          <string>195 million years ago</string>
          <string>First pterosaurs.</string>
    </array>
    <array>
          <string>190 million years ago</string>
          <string>Extensive development of sponge reefs.</string>
    </array>
    <array>
          <string>176 million years ago</string>
          <string>First members of the Stegosauria group of dinosaurs</string>
    </array>
    <array>
          <string>170 million years ago</string>
          <string>Earliest salamanders.</string>
    </array>
    <array>
          <string>165 million years ago</string>
          <string>First rays and glycymeridid bivalves</string>
    </array>
    <array>
          <string>163 million years ago</string>
          <string>Pterodactyloid pterosaurs first appear.</string>
    </array>
    <array>
          <string>130 million years ago</string>
          <string>The rise of the angiosperms pollinated by wind or water. </string>
    </array>
    <array>
          <string>115 million years ago</string>
          <string>First monotreme mammals</string>
    </array>
    <array>
          <string>110 million years ago</string>
          <string>First hesperornithes, toothed diving birds.</string>
    </array>
    <array>
          <string>106 million years ago</string>
          <string>Spinosaurus, the largest theropod dinosaur, appears in the fossil record</string>
    </array>
    <array>
          <string>100 million years ago</string>
          <string>Earliest bees</string>
    </array>
    <array>
          <string>90 million years ago</string>
          <string>Earliest snakes</string>
    </array>
    <array>
          <string>80 million years ago</string>
          <string>First ants</string>
    </array>
    <array>
          <string>70 million years ago</string>
          <string>Mammals increase in diversity.</string>
    </array>
    <array>
          <string>68 million years ago</string>
          <string>Tyrannosaurus, the largest terrestrial predator of what is now western North America</string>
    </array>
    <array>
          <string>66 million years ago</string>
          <string>The Cretaceous–Paleogene extinction event eradicates about half of all animal species.</string>
    </array>
    <array>
          <string>66 million years ago</string>
          <string>Mammals become the dominant species.</string>
    </array>
    <array>
          <string>60 million years ago</string>
          <string>Earliest true primates.</string>
    </array>
    <array>
          <string>56 million years ago</string>
          <string>Gastornis, a large flightless bird, appears in the fossil record</string>
    </array>
    <array>
          <string>55 million years ago</string>
          <string>Modern bird groups diversify.</string>
    </array>
    <array>
          <string>52 million years ago</string>
          <string>First bats appear (Onychonycteris)</string>
    </array>
    <array>
          <string>50 million years ago</string>
          <string>Tapirs, rhinoceroses, and camels appear.</string>
    </array>
    <array>
          <string>40 million years ago</string>
          <string>Modern-type butterflies and moths appear.</string>
    </array>
    <array>
          <string>35 million years ago</string>
          <string>First eagles and hawks.</string>
    </array>
    <array>
          <string>33 million years ago</string>
          <string>Evolution of the thylacinid marsupials (Badjcinus)</string>
    </array>
    <array>
          <string>25 million years ago</string>
          <string>First deer</string>
    </array>
    <array>
          <string>20 million years ago</string>
          <string>First giraffes, hyenas, bears and giant anteaters.</string>
    </array>
    <array>
          <string>15 million years ago</string>
          <string>First bovids and kangaroos</string>
    </array>
    <array>
          <string>10 million years ago</string>
          <string>Grasslands and savannas are established, diversity in insects, especially ants and termites.</string>
    </array>
    <array>
          <string>6.5 million years ago</string>
          <string>First hominins (Sahelanthropus)</string>
    </array>
    <array>
          <string>5.8 million years ago</string>
          <string>Orrorin tugenensis, oldest human ancestor thought to have walked on two legs</string>
    </array>
    <array>
          <string>5.5 million years ago</string>
          <string>Ardipithecus, early “proto-human” shares traits with chimps and gorillas, and is forest-dwelling</string>
    </array>
    <array>
          <string>4.8 million years ago</string>
          <string>Mammoths appear in the fossil record</string>
    </array>
    <array>
          <string>4 million years ago</string>
          <string>Australopithecines appear. They have brains no larger than a chimpanzee’s</string>
    </array>
    <array>
          <string>2.5 million years ago</string>
          <string>Homo Habilis appears.</string>
    </array>
    <array>
          <string>1.8 million years ago</string>
          <string>Homo erectus is found in Asia. First true hunter-gatherer ancestor, and also first to have migrated out of Africa</string>
    </array>
    <array>
          <string>1.7 million years ago</string>
          <string>Extinction of australopithecines</string>
    </array>
    <array>
          <string>600 thousand years ago</string>
          <string>Homo Heidelbergensis lives in Africa and Europe. Similar brain capacity to modern humans</string>
    </array>
    <array>
          <string>400 thousand years ago</string>
          <string>Early humans begin to hunt with spears</string>
    </array>
    <array>
          <string>350 thousand years ago</string>
          <string>Evolution of Neanderthals</string>
    </array>
    <array>
          <string>325 thousand years ago</string>
          <string>Oldest surviving early human footprints are left by three people who scrambled down the slopes of a volcano in Italy</string>
    </array>
    <array>
          <string>250 thousand years ago</string>
          <string>Anatomically modern humans appear in Africa.</string>
    </array>
    <array>
          <string>195 thousand years ago</string>
          <string>Our own species Homo sapiens appears on the scene – and shortly after begins to migrate across Asia and Europe. </string>
    </array>
    <array>
          <string>150 thousand years ago</string>
          <string>Humans possibly capable of speech. </string>
    </array>
    <array>
          <string>50 thousand years ago</string>
          <string>Humans begin burying their dead ritually; create clothes from animal hides.</string>
    </array>
    <array>
          <string>40 thousand years ago</string>
          <string>The last of the giant monitor lizards (Varanus priscus) die out</string>
    </array>
    <array>
          <string>33 thousand years ago</string>
          <string>Oldest cave art. Later, Stone Age artisans create the spectacular murals at Lascaux and Chauvet in France</string>
    </array>
    <array>
          <string>30 thousand years ago</string>
          <string>Extinction of Neanderthals.</string>
    </array>
    <array>
          <string>15 thousand years ago</string>
          <string>The last woolly rhinoceros are believed to have gone extinct</string>
    </array>
    <array>
          <string>12 thousand years ago</string>
          <string>Modern people reach the Americas</string>
    </array>
    <array>
          <string>11 thousand years ago</string>
          <string>Short-faced bears vanish from North America.</string>
    </array>
    <array>
          <string>10 thousand years ago</string>
          <string>Agriculture develops and spread. First villages. Possible domestication of dogs.</string>
    </array>
    <array>
          <string>8 thousand years ago</string>
          <string>The Giant Lemur died out</string>
    </array>
    <array>
          <string>5.5 thousand years ago</string>
          <string>Stone Age ends and Bronze Age begins. Humans begin to smelt and work copper and tin</string>
    </array>
    <array>
          <string>4 thousand years ago</string>
          <string>The Sumerians of Mesopotamia develop the world’s first civilisation</string>
    </array>
</array>
</plist>