<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>372016775082-ffoojso1vq5k4clnvjoguiurpegmlmoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372016775082-ffoojso1vq5k4clnvjoguiurpegmlmoa</string>
	<key>API_KEY</key>
	<string>AIzaSyCWdeGJQoIpZXiWiayxqWw0TLyclIK4ZLo</string>
	<key>GCM_SENDER_ID</key>
	<string>372016775082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NM.HistoricDatesQuiz</string>
	<key>PROJECT_ID</key>
	<string>learn-history</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-history.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372016775082:ios:65d19b8871f4020f</string>
	<key>DATABASE_URL</key>
	<string>https://learn-history.firebaseio.com</string>
</dict>
</plist>