<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string> PABLO PICASSO </string>
		<string>1881-1973  </string>
		<string> Picasso is to Art History a giant earthquake with eternal aftermaths. With the possible exception of Michelangelo (who focused his greatest efforts in sculpture and architecture), no other artist had such ambitions at the time of placing his oeuvre in the history of art. Picasso created the avant-garde. Picasso destroyed the avant-garde. He looked back at the masters and surpassed them all. He faced the whole history of art and single-handedly redefined the tortuous relationship between work and spectator</string>
		<string></string>
	</array>
	<array>
		<string>GIOTTO DI BONDONE</string>
		<string>1267-1337  </string>
		<string> It has been said that Giotto was the first real painter, like Adam was the first man. We agree with the first part. Giotto continued the Byzantine style of Cimabue and other predecessors, but he earned the right to be included in gold letters in the history of painting when he added a quality unknown to date: emotion</string>
		<string>Giotto_-_Legend_of_St_Francis_-_-17-_-_St_Francis_Preaching_before_Honorius_III.png</string>
	</array>
	<array>
		<string> LEONARDO DA VINCI </string>
		<string>1452-1519  </string>
		<string> For better or for worse, Leonardo will be forever known as the author of the most famous painting of all time, the &quot;Gioconda&quot; or &quot;Mona Lisa&quot;. But he is more, much more. His humanist, almost scientific gaze, entered the art of the quattrocento and revoluted it with his sfumetto that nobody was ever able to imitate</string>
		<string>Leonardo_Da_Vinci_-_Vergine_delle_Rocce_(Louvre).png</string>
	</array>
	<array>
		<string> PAUL CÉZANNE </string>
		<string>1839-1906  </string>
		<string> &quot;Cezanne is the father of us all.&quot; This famous quote has been attributed to both Picasso and Matisse, and certainly it does not matter who actually said it, because in either case would be appropriate. While he exhibited with the Impressionist painters, Cézanne left behind the whole group and developed a style of painting never seen so far, which opened the door for the arrival of Cubism and the rest of the vanguards of the twentieth century</string>
		<string></string>
	</array>
	<array>
		<string> REMBRANDT VAN RIJN </string>
		<string>1606-1669  </string>
		<string> The fascinating use of the light and shadows in Rembrandt&apos;s works seem to reflect his own life, moving from fame to oblivion. Rembrandt is the great master of Dutch painting, and, along with Velázquez, the main figure of 17th century European Painting. He is, in addition, the great master of the self-portrait of all time, an artist who had never show mercy at the time of depicting himself </string>
		<string></string>
	</array>
	<array>
		<string> DIEGO VELÁZQUEZ </string>
		<string>1599-1660  </string>
		<string> Along with Rembrandt, one of the summits of Baroque painting. But unlike the Dutch artist, the Sevillan painter spent most of his life in the comfortable but rigid courtesan society. Nevertheless, Velázquez was an innovator, a &quot;painter of atmospheres&quot; two centuries before Turner and the Impressionists, which it is shown in his colossal &apos;royal paintings&apos; (&quot;Meninas&quot;, &quot;The Forge of Vulcan&quot;), but also in his small and memorable sketches of the Villa Medici.</string>
		<string></string>
	</array>
	<array>
		<string> WASSILY KANDINSKY </string>
		<string>1866-1944  </string>
		<string> Although the title of &quot;father of abstraction&quot; has been assigned to several artists, from Picasso to Turner, few painters could claim it with as much justice as Kandinsky. Many artists have succeeded in painting emotion, but very few have changed the way we understand art. Wassily Kandinsky is one of them.</string>
		<string>Sky_Blue.png</string>
	</array>
	<array>
		<string> CLAUDE MONET </string>
		<string>1840-1926  </string>
		<string> The importance of Monet in the history of art is sometimes &quot;underrated&quot;, as Art lovers tend to see only the overwhelming beauty that emanates from his canvases, ignoring the complex technique and composition of the work (a &quot;defect&quot; somehow caused by Monet himself, when he declared that &quot;I do not understand why everyone discusses my art and pretends to understand, as if it were necessary to understand, when it is simply necessary to love&quot;). However, Monet&apos;s experiments, including studies on the changes in an object caused by daylight at different times of the day; and the almost abstract quality of his &quot;water lilies&quot;, are clearly a prologue to the art of the twentieth century.</string>
		<string></string>
	</array>
	<array>
		<string> CARAVAGGIO </string>
		<string>1571-1610  </string>
		<string> The tough and violent Caravaggio is considered the father of Baroque painting, with his spectacular use of lights and shadows. Caravaggio’s chiaroscuro became so famous that many painters started to copy his paintings, creating the &apos;Caravaggisti&apos; style.</string>
		<string></string>
	</array>
	<array>
		<string> JOSEPH MALLORD WILLIAM TURNER </string>
		<string>1775-1851  </string>
		<string> Turner is the best landscape painter of Western painting. Whereas he had been at his beginnings an academic painter, Turner was slowly but unstoppably evolving towards a free, atmospheric style, sometimes even outlining the abstraction, which was misunderstood and rejected by the same critics who had admired him for decades</string>
		<string></string>
	</array>
	<array>
		<string> JAN VAN EYCK </string>
		<string>1390-1441  </string>
		<string> Van Eyck is the colossal pillar on which rests the whole Flemish paintings from later centuries, the genius of accuracy, thoroughness and perspective, well above any other artist of his time, either Flemish or Italian.</string>
		<string></string>
	</array>
	<array>
		<string> ALBRECHT DÜRER </string>
		<string>1471-1528  </string>
		<string> The real Leonardo da Vinci of Northern European Rennaisance was Albrecht Dürer, a restless and innovative genious, master of drawing and color. He is one of the first artists to represent nature without artifice, either in his painted landscapes or in his drawings of plants and animals</string>
		<string></string>
	</array>
	<array>
		<string> JACKSON POLLOCK </string>
		<string>1912-1956  </string>
		<string> The major figure of American Abstract Expressionism, Pollock created his best works, his famous drips, between 1947 and 1950. After those fascinating years, comparable to Picasso’s blue period or van Gogh’s final months in Auvers, he abandoned the drip, and his latest works are often bold, unexciting works.</string>
		<string></string>
	</array>
	<array>
		<string> MICHELANGELO BUONARROTI </string>
		<string>1475-1564  </string>
		<string> Some readers will be quite surprised to see the man who is, along with Picasso, the greatest artistic genius of all time, out of the &quot;top ten&quot; of this list, but the fact is that even Michelangelo defined himself as &quot;sculptor&quot;, and even his painted masterpiece (the frescoes in the Sistine Chapel) are often defined as &apos;painted sculptures&apos;. Nevertheless, that unforgettable masterpiece is enough to guarantee him a place of honor in the history of painting</string>
		<string></string>
	</array>
	<array>
		<string> PAUL GAUGUIN </string>
		<string>1848-1903  </string>
		<string> One of the most fascinating figures in the history of painting, his works moved from Impressionism (soon abandoned) to a colorful and vigorous symbolism, as can be seen in his &apos;Polynesian paintings&apos;. Matisse and Fauvism could not be understood without the works of Paul Gauguin</string>
		<string></string>
	</array>
	<array>
		<string> FRANCISCO DE GOYA </string>
		<string>1746-1828</string>
		<string>Goya is an enigma. In the whole History of Art few figures are as complex as the artist born in Fuendetodos, Spain. Enterprising and indefinable, a painter with no rival in all his life, Goya was the painter of the Court and the painter of the people. He was a religious painter and a mystical painter. He was the author of the beauty and eroticism of the &apos;Maja desnuda&apos; and the creator of the explicit horror of &apos;The Third of May, 1808&apos;. He was an oil painter, a fresco painter, a sketcher and an engraver. And he never stopped his metamorphosis </string>
		<string></string>
	</array>
	<array>
		<string> VINCENT VAN GOGH </string>
		<string>1853-1890  </string>
		<string> Few names in the history of painting are now as famous as Van Gogh, despite the complete neglect he suffered in life. His works, strong and personal, are one of the greatest influences in the twentieth century painting, especially in German Expressionism </string>
		<string></string>
	</array>
	<array>
		<string> ÉDOUARD MANET </string>
		<string>1832-1883  </string>
		<string> Manet was the origin of Impressionism, a revolutionary in a time of great artistic revolutions. His (at the time) quite polemical &quot;Olympia&quot; or &quot;Déjeuner sur l&apos;Herbe&quot; opened the way for the great figures of Impressionism</string>
		<string></string>
	</array>
	<array>
		<string> MARK ROTHKO </string>
		<string>1903-1970  </string>
		<string> The influence of Rothko in the history of painting is yet to be quantified, because the truth is that almost 40 years after his death the influence of Rothko&apos;s large, dazzling and emotional masses of color continues to increase in many painters of the 21st century</string>
		<string></string>
	</array>
	<array>
		<string> HENRI MATISSE </string>
		<string>1869-1954  </string>
		<string> Art critics tend to regard Matisse as the greatest exponent of twentieth century painting, only surpassed by Picasso. This is an exaggeration, although the almost pure use of color in some of his works strongly influenced many of the following avant-gardes</string>
		<string></string>
	</array>
	<array>
		<string> RAPHAEL </string>
		<string>1483-1520</string>
		<string> Equally loved and hated in different eras, no one can doubt that Raphael is one of the greatest geniuses of the Renaissance, with an excellent technique in terms of drawing and color</string>
		<string></string>
	</array>
	<array>
		<string> JEAN-MICHEL BASQUIAT </string>
		<string>1960-1988</string>
		<string>Basquiat is undoubtedly the most important and famous member of the &quot;graffiti movement&quot; that appeared in the New York scene in the early&apos;80s, an artistic movement whose enormous influence on later painting is still to be measured </string>
		<string></string>
	</array>
	<array>
		<string> EDVARD MUNCH </string>
		<string>1863-1944  </string>
		<string> Modernist in his context, Munch could be also considered the first expressionist painter in history. Works like &quot;The Scream&quot; are vital to understanding the twentieth century painting.</string>
		<string></string>
	</array>
	<array>
		<string> TITIAN </string>
		<string>c.1476-1576  </string>
		<string> After the premature death of Giorgione, Titian became the leading figure of Venetian painting of his time. His use of color and his taste for mythological themes defined the main features of 16th century Venetian Art. His influence on later artists -Rubens, Velázquez...- is extremely important</string>
		<string></string>
	</array>
	<array>
		<string> PIET MONDRIAN </string>
		<string>1872 -1944  </string>
		<string> Along with Kandinsky and Malevich, Mondrian is the leading figure of early abstract painting. After emigrating to New York, Mondrian filled his abstract paintings with a fascinating emotional quality, as we can se in his series of &quot;boogie-woogies&quot; created in the mid-40s</string>
		<string></string>
	</array>
	<array>
		<string> PIERO DELLA FRANCESCA </string>
		<string>1416-1492</string>
		<string>Despite being one of the most important figures of the quattrocento, the Art of Piero della Francesca has been described as “cold”, “hieratic” or even “impersonal”. But with the apparition of Berenson and the great historians of his era, like Michel Hérubel -who defended the “metaphysical dimension” of the paintings by Piero-, his precise and detailed Art finally occupied the place that it deserves in the Art history </string>
		<string></string>
	</array>
	<array>
		<string> PETER PAUL RUBENS </string>
		<string>1577-1640  </string>
		<string> Rubens was one of the most prolific painters of all time, thanks in part to the collaboration of his study. Very famous in life, he traveled around Europe to meet orders from very wealthy and important clients. His female nudes are still amazing in our days</string>
		<string></string>
	</array>
	<array>
		<string> ANDY WARHOL </string>
		<string>1928-1987  </string>
		<string> Brilliant and controversial, Warhol is the leading figure of pop-art and one of the icons of contemporary art. His silkscreen series depicting icons of the mass-media (as a reinterpretation of Monet&apos;s series of Water lilies or the Rouen Cathedral) are one of the milestones of contemporary Art, with a huge influence in the Art of our days</string>
		<string></string>
	</array>
	<array>
		<string> JOAN MIRÓ </string>
		<string>1893-1983  </string>
		<string> Like most geniuses, Miro is an unclassificable artist. His interest in the world of the unconscious, those hidden in the depths of the mind, link him with Surrealism, but with a personal style, sometimes closer to Fauvism and Expressionism. His most important works are those from the series of &quot;Constellations&quot;, created in the early 40s</string>
		<string></string>
	</array>
	<array>
		<string> TOMMASO MASACCIO </string>
		<string>1401-1428  </string>
		<string> Masaccio was one of the first old masters to use the laws of scientific perspective in his works . One of the greatest innovative painters of the Early Renaissance </string>
		<string></string>
	</array>
	<array>
		<string> MARC CHAGALL </string>
		<string>1887-1985  </string>
		<string> Artist of dreams and fantasies, Chagall was for all his life an immigrant fascinated by the lights and colors of the places he visited. Few names from the School of Paris of the early twentieth century have contributed so much -and with such variety of ideas- to change modern Art as this man &quot;impressed by the light,&quot; as he defined himself</string>
		<string></string>
	</array>
	<array>
		<string> GUSTAVE COURBET </string>
		<string>1819-1877  </string>
		<string> Leading figure of realism, and a clear precedent for the impressionists, Courbet was one of the greatest revolutionaries, both as an artist and as a social-activist, of the history of painting. Like Rembrandt and other predecessors, Courbet did not seek to create beauty, but believed that beauty is achieved when and artist represents the purest reality without artifice</string>
		<string></string>
	</array>
	<array>
		<string> NICOLAS POUSSIN </string>
		<string>1594-1665  </string>
		<string> The greatest among the great French Baroque painters, Poussin had a vital influence on French painting for many centuries. His use of color is unique among all the painters of his era </string>
		<string></string>
	</array>
	<array>
		<string> WILLEM DE KOONING </string>
		<string>1904-1997  </string>
		<string> After Pollock, the leading figure of abstract expressionism, though one of his greatest contributions was not to feel limited by the abstraction, often resorting to a heartbreaking figurative painting (his series of &quot;Women&quot; are the best example) with a major influence on later artists such as Francis Bacon or Lucian Freud</string>
		<string></string>
	</array>
	<array>
		<string> PAUL KLEE </string>
		<string>1879-1940  </string>
		<string> In a period of artistic revolutions and innovations, few artists were as crucial as Paul Klee. His studies of color, widely taught at the Bauhaus, are unique among all the artists of his time </string>
		<string></string>
	</array>
	<array>
		<string> FRANCIS BACON </string>
		<string>1909-1992</string>
		<string>Maximum exponent, along with Lucian Freud, of the so-called &quot;School of London&quot;, Bacon&apos;s style was totally against all canons of painting, not only in those terms related to beauty, but also against the dominance of the Abstract Expressionism of his time</string>
		<string></string>
	</array>
	<array>
		<string> GUSTAV KLIMT </string>
		<string>1862-1918  </string>
		<string> Half way between modernism and symbolism appears the figure of Gustav Klimt, who was also devoted to the industrial arts. His nearly abstract landscapes also make him a forerunner of geometric abstraction </string>
		<string></string>
	</array>
	<array>
		<string> EUGÈNE DELACROIX </string>
		<string>1798-1863  </string>
		<string> Eugène Delacroix is the French romanticism painter &quot;par excellence&quot; and one of the most important names in the European painting of the first half of the 19th century. His famous “Liberty leading the People”also demonstrates the capacity of Painting to become the symbol of an era.</string>
		<string></string>
	</array>
	<array>
		<string> PAOLO UCCELLO </string>
		<string>1397-1475  </string>
		<string> “Solitary, eccentric, melancholic and poor”. Giorgio Vasari described with these four words one of the most audacious geniuses of the early Florentine Renaissance, Paolo Uccello.</string>
		<string></string>
	</array>
	<array>
		<string> WILLIAM BLAKE </string>
		<string>1757-1827  </string>
		<string> Revolutionary and mystic, painter and poet, Blake is one of the most fascinating artists of any era. His watercolors, prints and temperas are filled with a wild imagination (almost crazyness), unique among the artists of his era</string>
		<string></string>
	</array>
	<array>
		<string> KAZIMIR MALEVICH </string>
		<string>1878-1935  </string>
		<string> Creator of Suprematism, Malevich will forever be one of the most controversial figures of the history of art among the general public, divided between those who consider him an essential renewal and those who consider that his works based on polygons of pure colors do not deserve to be considered Art</string>
		<string></string>
	</array>
	<array>
		<string> ANDREA MANTEGNA </string>
		<string>1431-1506  </string>
		<string> One of the greatest exponents of the Quattrocento, interested in the human figure, which he often represented under extreme perspectives (&quot;The Dead Christ&quot;) </string>
		<string>Christ praying in the garden of Getsemane.png</string>
	</array>
	<array>
		<string> JAN VERMEER </string>
		<string>1632-1675  </string>
		<string> Vermeer was the leading figure of the Delft School, and for sure one of the greatest landscape painters of all time. Works such as &quot;View of the Delft&quot; are considered almost &quot;impressionist&quot; due to the liveliness of his brushwork. He was also a skilled portraitist </string>
		<string></string>
	</array>
	<array>
		<string> EL GRECO </string>
		<string>1541-1614  </string>
		<string> One of the most original and fascinating artists of his era, with a very personal technique that was admired, three centuries later, by the impressionist painters </string>
		<string></string>
	</array>
	<array>
		<string> CASPAR DAVID FRIEDRICH </string>
		<string>1774-1840  </string>
		<string> Leading figure of German Romantic painting, Friedrich is still identified as the painter of landscapes of loneliness and distress, with human figures facing the terrible magnificence of nature. </string>
		<string></string>
	</array>
	<array>
		<string> WINSLOW HOMER </string>
		<string>1836-1910  </string>
		<string> The main figure of American painting of his era, Homer was a breath of fresh air for the American artistic scene, which was &quot;stuck&quot; in academic painting and the more romantic Hudson River School. Homer&apos;s loose and lively brushstroke is almost impressionistic . </string>
		<string></string>
	</array>
	<array>
		<string> MARCEL DUCHAMP </string>
		<string>1887-1968  </string>
		<string> One of the major figures of Dadaism and a prototype of &quot;total artist&quot;, Duchamp is one of the most important and controversial figures of his era. His contribution to painting is just a small part of his huge contribution to the art world.</string>
		<string></string>
	</array>
	<array>
		<string> GIORGIONE </string>
		<string>1478-1510 </string>
		<string>Like so many other painters who died at young age, Giorgione </string>
		<string></string>
	</array>
	<array>
		<string> FRIDA KAHLO </string>
		<string>1907-1954  </string>
		<string> In recent years, Frida&apos;s increasing fame seems to have obscured her importance in Latin American art. On September 17th, 1925, Kahlo was almost killed in a terrible bus accident. She did not died, but the violent crash had terrible sequels, breaking her spinal column, pelvis, and right leg.. After this accident, Kahlo&apos;s self-portraits can be considered as quiet but terrible moans</string>
		<string></string>
	</array>
	<array>
		<string> HANS HOLBEIN THE YOUNGER </string>
		<string>1497-1543  </string>
		<string> After Dürer, Holbein is the greatest of the German painters of his time. The fascinating portrait of &quot;The Ambassadors&quot; is still considered one of the most enigmatic paintings of art history </string>
		<string></string>
	</array>
	<array>
		<string> EDGAR DEGAS </string>
		<string>1834-1917  </string>
		<string> Though Degas was not a &quot;pure&quot; impressionist painter, his works shared the ideals of that artistic movement. Degas paintings of young dancers or ballerinas are icons of late 19th century painting</string>
		<string></string>
	</array>
	<array>
		<string> FRA ANGELICO </string>
		<string>1387-1455  </string>
		<string> One of the great colorists from the early Renaissance. Initially trained as an illuminator, he is the author of masterpieces such as &quot;The Annunciation&quot; in the Prado Museum.</string>
		<string></string>
	</array>
	<array>
		<string> GEORGES SEURAT </string>
		<string>1859-1891 </string>
		<string>Georges Seurat is one of the most important post-impressionist painters, and he is considered the creator of the &quot;pointillism&quot;, a style of painting in which small distinct points of primary colors create the impression of a wide selection of secondary and intermediate colors. </string>
		<string></string>
	</array>
	<array>
		<string> JEAN-ANTOINE WATTEAU </string>
		<string>1684-1721  </string>
		<string> Watteau is today considered one of the pioneers of rococo. Unfortunately, he died at the height of his powers, as it is evidenced in the great portrait of &quot;Gilles&quot; painted in the year of his death</string>
		<string></string>
	</array>
	<array>
		<string> SALVADOR DALÍ </string>
		<string>1904-1989  </string>
		<string> &quot;I am Surrealism!&quot; shouted Dalí when he was expelled from the surrealist movement by André Breton. Although the quote sounds presumptuous (which was not unusual in Dalí), the fact is that Dalí&apos;s paintings are now the most famous images of all the surrealist movement.</string>
		<string></string>
	</array>
	<array>
		<string> MAX ERNST </string>
		<string>1891-1976  </string>
		<string> Halfway between Surrealism and Dadaism appears Max Ernst, important in both movements. Ernst was a brave artistic explorer thanks in part to the support of his wife and patron, Peggy Guggenheim</string>
		<string></string>
	</array>
	<array>
		<string> TINTORETTO </string>
		<string>1518-1594</string>
		<string>Tintoretto is the most flamboyant of all Venetian masters </string>
		<string></string>
	</array>
	<array>
		<string> JASPER JOHNS </string>
		<string>born 1930  </string>
		<string> The last living legend of the early Pop Art, although he has never considered himself a &quot;pop artist&quot;. His most famous works are the series of &quot;Flags&quot; and &quot;Targets&quot;.</string>
		<string></string>
	</array>
	<array>
		<string> SANDRO BOTTICELLI </string>
		<string>1445-1510  </string>
		<string> &quot;If Botticelli were alive now he would be working for Vogue&quot;, said actor Peter Ustinov. As well as Raphael, Botticelli had been equally loved or hated in different eras, but his use of color is one of the most fascinating among all old masters.</string>
		<string></string>
	</array>
	<array>
		<string> DAVID HOCKNEY </string>
		<string>born 1937</string>
		<string>David Hockney is one of the living myths of the Pop Art. Born in Great Britain, he moved to California, where he immediately felt identified with the light, the culture and the urban landscape of the &apos;Golden State&apos; </string>
		<string></string>
	</array>
	<array>
		<string> UMBERTO BOCCIONI </string>
		<string>1882-1916  </string>
		<string> The maximum figure of Italian Futurism, fascinated by the world of the machine, and the movement as a symbol of contemporary times. </string>
		<string></string>
	</array>
	<array>
		<string> JOACHIM PATINIR </string>
		<string>1480-1524  </string>
		<string> Much less technically gifted than other Flemish painters like Memling or van der Weyden, his contribution to the history of art is vital for the incorporation of landscape as a major element in the painting. </string>
		<string></string>
	</array>
	<array>
		<string> DUCCIO DA BUONINSEGNA </string>
		<string>1255 -1318</string>
		<string> While in Florence Giotto di Bondone was changing the history of painting, Duccio of Buoninsegna provided a breath of fresh air to the important Sienese School. </string>
		<string></string>
	</array>
	<array>
		<string> ROGER VAN DER WEYDEN </string>
		<string>1399-1464  </string>
		<string> After Van Eyck, the leading exponent of Flemish painting in the fifteenth century; a master of perspective and composition.</string>
		<string></string>
	</array>
	<array>
		<string> JOHN CONSTABLE </string>
		<string>1776-1837  </string>
		<string> John Constable (1776-1837) is, along with Turner, the great figure of English romanticism. But unlike his contemporary, he never left England, and he devoted all his time to represent the life and landscapes of his beloved England. </string>
		<string></string>
	</array>
	<array>
		<string> JACQUES-LOUIS DAVID </string>
		<string>1748-1825  </string>
		<string> David is the summit of neoclassicism, a grandiloquent artist whose compositions seem to reflect his own hectic and revolutionary life. </string>
		<string></string>
	</array>
	<array>
		<string> ARSHILLE GORKY </string>
		<string>1905-1948  </string>
		<string> Armenian-born American painter, Gorky was a surrealist painter and also one of the leaders of abstract expressionism. He was called &quot;the Ingres of the unconscious&quot;. </string>
		<string></string>
	</array>
	<array>
		<string> HIERONYMUS BOSCH </string>
		<string>1450-1516  </string>
		<string> An extremely religious man, all works by Bosch are basically moralizing, didactic. The artist sees in the society of his time the triumph of sin, the depravation, and all the things that have caused the fall of the human being from its angelical character; and he wants to warn his contemporaries about the terrible consequences of his impure acts.</string>
		<string></string>
	</array>
	<array>
		<string> PIETER BRUEGEL THE ELDER </string>
		<string>1528-1569</string>
		<string>Many scholars and art critics claim to have found important similarities between the works by Hyeronimus Bosch and those by Brueghel, but the truth is that the differences between both of them are abysmal. Whereas Bosch&apos;s fantasies are born of a deep deception and preoccupation for the human being, with a clearly moralizing message; works by Bruegel are full of irony, and even filled with a love for the rural life, which seems to anticipate the Dutch landscape paintings from the next century. </string>
		<string></string>
	</array>
	<array>
		<string> SIMONE MARTINI </string>
		<string>1284-1344  </string>
		<string> One of the great painters of the Trecento, he was a step further and helped to expand its progress, which culminated in the &quot;International Style&quot;.</string>
		<string></string>
	</array>
	<array>
		<string> Frederic Edwin Church </string>
		<string>1826-1900</string>
		<string>Church represents the culmination of the Hudson River School: he had Cole&apos;s love for the landscape, Asher Brown Durand&apos;s romantic lyricism, and Albert Bierstadt&apos;s grandiloquence, but he was braver and technically more gifted than anyone of them. Church is without any doubt one of the greatest landscape painters of all time, perhaps only surpassed by Turner and some impressionists and postimpressionists like Monet or Cézanne.</string>
		<string></string>
	</array>
	<array>
		<string> EDWARD HOPPER </string>
		<string>1882-1967  </string>
		<string> Hopper is widely known as the painter of urban loneliness. His most famous work, the fabulous &quot;Nighthawks&quot; (1942) has become the symbol of the solitude of the contemporary metropolis, and it is one of the icons of the 20th century Art.</string>
		<string></string>
	</array>
	<array>
		<string> LUCIO FONTANA </string>
		<string>1899-1968  </string>
		<string> Father of the &quot;White Manifesto&quot;, in which he stated that &quot;Matter, colour and sound in motion are the phenomena whose simultaneous development makes up the new art&quot;. His “Concepts Spatiales” are already icons of the art of the second half of the twentieth century.</string>
		<string></string>
	</array>
	<array>
		<string> FRANZ MARC </string>
		<string>1880-1916  </string>
		<string> After Kandinsky, the great figure of the Expressionist group &quot;The Blue Rider&quot; and one of the most important expressionist painters ever. He died at the height of his artistic powers, when his use of color was even anticipating the later abstraction.</string>
		<string></string>
	</array>
	<array>
		<string> PIERRE-AUGUSTE RENOIR </string>
		<string>1841-1919  </string>
		<string> One of the key figures of Impressionism, he soon left the movement to pursue a more personal, academic painting. </string>
		<string></string>
	</array>
	<array>
		<string> JAMES MCNEILL WHISTLER </string>
		<string>1834-1903  </string>
		<string> Along with Winslow Homer, the great figure of American painting of his time. Whistler was an excellent portraitist, which is shown in the fabulous portrait of his mother, considered one of the great masterpieces of American painting of all time.</string>
		<string></string>
	</array>
	<array>
		<string> THEODORE GÉRICAULT </string>
		<string>1791-1824  </string>
		<string> Key figure in romanticism, revolutionary in his life and works despite his bourgeois origins. In his masterpiece, &quot;The raft of the Medusa&quot;, Gericault creates a painting that we can define as &quot;politically incorrect&quot;, as it depicts the miseries of a large group of castaways abandoned after the shipwreck of a French naval frigate.</string>
		<string></string>
	</array>
	<array>
		<string> WILLIAM HOGARTH </string>
		<string>1697-1764  </string>
		<string> A list of the great portrait painters of all time should never miss the name of William Hogarth, whose studies and sketches could even qualify as &quot;pre-impressionist&quot;.</string>
		<string></string>
	</array>
	<array>
		<string> CAMILLE COROT </string>
		<string>1796-1875  </string>
		<string> One of the great figures of French realism in the 19th century and certainly one of the major influences for the impressionist painters like Monet or Renoir, thanks to his love for &quot;plen-air&quot; painting, emphasizing the use of light.</string>
		<string></string>
	</array>
	<array>
		<string> GEORGES BRAQUE </string>
		<string>1882-1963  </string>
		<string> Along with Picasso and Juan Gris, the main figure of Cubism, the most important of the avant-gardes of the 20th century Art.</string>
		<string></string>
	</array>
	<array>
		<string> HANS MEMLING </string>
		<string>1435-1494  </string>
		<string> Perhaps the most complete and &quot;well-balanced&quot; of all fifteenth century Flemish painters, although he was not as innovative as Van Eyck or van der Weyden.</string>
		<string></string>
	</array>
	<array>
		<string> GERHARD RICHTER </string>
		<string>born 1932  </string>
		<string> One of the most important artists of recent decades, Richter is known either for his fierce and colorful abstractions or his serene landscapes and scenes with candles.</string>
		<string></string>
	</array>
	<array>
		<string> AMEDEO MODIGLIANI </string>
		<string>1884-1920  </string>
		<string> One of the most original portraitists of the history of painting, considered as a &quot;cursed&quot; painter because of his wild life and early death.</string>
		<string>Modigliani_Reverie.jpg</string>
	</array>
	<array>
		<string> GEORGES DE LA TOUR </string>
		<string>1593-1652  </string>
		<string> The influence of Caravaggio is evident in De la Tour, whose use of light and shadows is unique among the painters of the Baroque era.</string>
		<string></string>
	</array>
	<array>
		<string> GENTILESCHI, ARTEMISIA </string>
		<string>1597-1654  </string>
		<string> One of the most gifted artists of the early baroque era, she was the first female painter to become a member of the Accademia di Arte del Disegno in Florence.</string>
		<string></string>
	</array>
	<array>
		<string> JEAN FRANÇOIS MILLET </string>
		<string>1814-1875  </string>
		<string> One of the main figures of the Barbizon School, author of one of the most emotive paintings of the 19th century: The &quot;Angelus&quot;. </string>
		<string></string>
	</array>
	<array>
		<string> FRANCISCO DE ZURBARÁN </string>
		<string>1598-1664  </string>
		<string> The closest to Caravaggio of all Spanish Baroque painters, his latest works show a mastery of chiaroscuro without parallel among any other painter of his time.</string>
		<string></string>
	</array>
	<array>
		<string> CIMABUE </string>
		<string>1240-1302  </string>
		<string> Although in some of his works Cimabue already represented a visible evolution of the rigid Byzantine art, his greatest contribution to painting was to discover a young talented artist named Giotto (see number 2), who changed forever the Western painting.</string>
		<string></string>
	</array>
	<array>
		<string> JAMES ENSOR </string>
		<string>1860-1949  </string>
		<string> Violent painter whose strong, almost &quot;unfinished&quot; works make him a precursor of Expressionism </string>
		<string></string>
	</array>
	<array>
		<string> RENÉ MAGRITTE </string>
		<string>1898-1967  </string>
		<string> One of the leading figures of surrealism, his apparently simple works are the result of a complex reflection about reality and the world of dreams</string>
		<string></string>
	</array>
	<array>
		<string> EL LISSITZKY </string>
		<string>1890-1941  </string>
		<string> One of the main exponents of Russian avant-garde painting. Influenced by Malevich, he also excelled in graphic design.</string>
		<string></string>
	</array>
	<array>
		<string> EGON SCHIELE </string>
		<string>1890-1918  </string>
		<string> Another &quot;died too young&quot; artist, his strong and ruthless portraits influenced the works of later artists, like Lucian freud or Francis Bacon.</string>
		<string></string>
	</array>
	<array>
		<string> DANTE GABRIEL ROSSETTI </string>
		<string>1828-1882  </string>
		<string> Perhaps the key figure in the pre-Raphaelite movement, Rossetti left the poetry to focus on classic painting with a style that influenced the symbolism.</string>
		<string></string>
	</array>
	<array>
		<string> FRANS HALS </string>
		<string>1580-1666  </string>
		<string> One of the most important portraitists ever, his lively brushwork influenced early impressionism.</string>
		<string></string>
	</array>
	<array>
		<string> CLAUDE LORRAIN </string>
		<string>1600-1682  </string>
		<string> His works were a vital influence on many landscape painters for many centuries, both in Europe (Corot, Courbet) and in America (Hudson River School). </string>
		<string></string>
	</array>
	<array>
		<string> ROY LICHTENSTEIN </string>
		<string>1923-1977  </string>
		<string> Along with Andy Warhol, the most famous figure of the American Pop-Art. His works are often related to the style of the comics, though Lichtenstein rejected that idea.</string>
		<string></string>
	</array>
	<array>
		<string> GEORGIA O&apos;KEEFE </string>
		<string>1887-1986  </string>
		<string> A leading figure in the 20th century American Art, O&apos;Keefe single-handedly redefined the Western American painting.</string>
		<string></string>
	</array>
	<array>
		<string> GUSTAVE MOREAU </string>
		<string>1826-1898  </string>
		<string> One of the key figures of symbolism, introverted and mysterious in life, but very free and colorful in his works.</string>
		<string></string>
	</array>
	<array>
		<string> GIORGIO DE CHIRICO </string>
		<string>1888-1978  </string>
		<string> Considered the father of metaphysical painting and a major influence on the Surrealist movement.</string>
		<string></string>
	</array>
	<array>
		<string> FERNAND LÉGER </string>
		<string>1881-1955  </string>
		<string> At first a cubist, Leger was increasingly attracted to the world of machinery and movement, creating works such as &quot;The Discs&quot; (1918).</string>
		<string></string>
	</array>
	<array>
		<string> JEAN-AUGUSTE-DOMINIQUE INGRES </string>
		<string>1780-1867  </string>
		<string> Ingres was the most prominent disciple of the most famous neoclassicist painter, Jacques Louis David, so he should not be considered an innovator. He was, however, a master of classic portrait.</string>
		<string></string>
	</array>
</array>
</plist>
